[submodule "app/grammar"]
	path = app/grammar
	url = https://github.com/Siequnu/flask-grammar.git
[submodule "app/assignments"]
	path = app/assignments
	url = https://github.com/Siequnu/flask-assignments.git
[submodule "app/user"]
	path = app/user
	url = https://github.com/Siequnu/flask-user.git
[submodule "app/collaboration"]
	path = app/collaboration
	url = https://github.com/Siequnu/flask-collaboration.git
[submodule "app/classes"]
	path = app/classes
	url = https://github.com/Siequnu/flask-classes.git
[submodule "app/files"]
	path = app/files
	url = https://github.com/Siequnu/flask-files.git
[submodule "app/errors"]
	path = app/errors
	url = https://github.com/Siequnu/flask-errors.git
[submodule "app/api"]
	path = app/api
	url = https://github.com/Siequnu/flask-api.git
[submodule "app/tests"]
	path = app/tests
	url = https://github.com/Siequnu/flask-tests.git
