import os
basedir = os.path.abspath(os.path.dirname(__file__))

class Config(object):
	SECRET_KEY = os.environ.get('SECRET_KEY') or os.urandom(12)
	MAX_CONTENT_LENGTH = 16 * 1024 * 1024
	APP_ROOT = basedir
	THUMBNAIL_FOLDER = os.path.join(basedir, 'app/static/thumbnails/')
	UPLOAD_FOLDER = os.path.join(basedir, 'uploads')
	ALLOWED_EXTENSIONS = set(['pdf', 'doc', 'docx', 'pages'])
	SIGNUP_CODES = {''}
	REGISTRATION_IS_OPEN = False
	
	MAIL_SERVER = ''
	MAIL_PORT = 587
	MAIL_USE_TLS = True
	MAIL_USE_SSL = False
	MAIL_DEBUG = False
	MAIL_USERNAME = ''
	MAIL_PASSWORD = ''
	MAIL_DEFAULT_SENDER = ''
	
	TS_SALT = os.environ.get('SECRET_KEY') or os.urandom(12)
	TS_RECOVER_SALT = os.environ.get('SECRET_KEY') or os.urandom(12)
	TS_MAX_AGE = 86400
	
	# SQL
	SQLALCHEMY_DATABASE_URI = os.environ.get('DATABASE_URL') or \
		'sqlite:///' + os.path.join(basedir, 'workUpApp.db')
	SQLALCHEMY_TRACK_MODIFICATIONS = False