alembic==1.0.10; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
aniso8601==8.0.0
appdirs==1.4.4
arrow==0.13.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
astroid==2.5.2; python_version >= "3.6" and python_version < "4.0"
atomicwrites==1.3.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
attrs==19.1.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
blinker==1.4
bootstrap-flask==1.5.1
brotli==1.0.7
cairocffi==1.1.0; python_version >= "3.5"
cairosvg==2.4.2; python_version >= "3.5"
certifi==2019.3.9
cffi==1.14.0
chardet==3.0.4
click==7.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" and platform_system == "Windows" and python_version < "4.0" or python_full_version >= "3.5.0" and sys_platform == "win32" and platform_system == "Windows" and python_version >= "3.6" and python_version < "4.0"
cryptography==2.9.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
cssselect2==0.3.0; python_version >= "3.5"
decorator==4.4.0; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.2.0")
defusedxml==0.6.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
distlib==0.3.0
dominate==2.3.5; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
et-xmlfile==1.0.1
filelock==3.0.12
flask-breadcrumbs==0.5.1
flask-compress @ git+https://github.com/colour-science/flask-compress.git@7cfbd5af9dac6aca9df833dd3a73ed9fc8adade3
flask-dropzone==1.5.4
flask-excel==0.0.7
flask-executor==0.9.4
flask-httpauth==3.2.4
flask-limiter==1.0.1
flask-login==0.5.0
flask-mail==0.9.1
flask-marshmallow==0.13.0
flask-menu==0.7.2
flask-migrate==2.4.0
flask-oidc==1.4.0
flask-qrcode==3.0.0
flask-restful==0.3.8
flask-seasurf==0.3.0
flask-sqlalchemy==2.4.4; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
flask-talisman==0.7.0
flask-toastr==0.5.2
flask-weasyprint==0.6
flask-wtf==0.14.2
flask==1.1.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
html5lib==1.0.1
httplib2==0.18.1
idna==2.8; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
importlib-metadata==1.6.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
infinity==1.4
intervals==0.8.1
isort==5.8.0; python_version >= "3.6" and python_version < "4.0"
itsdangerous==1.1.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
jdcal==1.4.1
jinja2==2.10.1
lazy-object-proxy==1.6.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.0"
limits==1.3
lml==0.0.9
mako==1.0.9; python_version >= "2.6"
markupsafe==1.1.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
marshmallow-sqlalchemy==0.23.1; python_version >= "3.6"
marshmallow==3.6.1; python_version >= "3.5"
mccabe==0.6.1; python_version >= "3.6" and python_version < "4.0"
more-itertools==7.0.0; python_version >= "3.4"
ndg-httpsclient==0.5.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
nut==0.2.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
oauth2client==4.1.3
okta==0.0.4
openpyxl==3.0.3; python_version >= "3.6"
pathlib==1.0.1
pbr==5.4.5
pillow==7.1.2; python_version >= "3.5"
pluggy==0.9.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
prowritingaidsdk @ git+https://github.com/prowriting/prowritingaid.python.git@99b7dccd73575f806ff28e3e515d3e782ef4d9ca
pusher==3.0.0
py==1.8.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
pyasn1-modules==0.2.5
pyasn1==0.4.5
pycparser==2.20; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
pyexcel-io==0.5.20
pyexcel-webio==0.1.4
pyexcel-xlsx==0.5.8
pyexcel==0.6.2; python_version >= "3.6"
pylint-flask==0.6
pylint-plugin-utils==0.6
pylint==2.7.4; python_version >= "3.6" and python_version < "4.0"
pymysql==0.9.3
pynacl==1.4.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
pyopenssl==19.1.0
pyparsing==2.4.0; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
pyphen==0.9.5
pytest-flask==0.14.0
pytest==4.4.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
python-dateutil==2.8.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.3.0")
python-dotenv==0.13.0
python-editor==1.0.4
pytz==2020.1
qrcode==6.1
redis==3.2.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
requests==2.21.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
rsa==4.0
six==1.12.0; (python_version >= "2.6" and python_full_version < "3.0.0") or (python_full_version >= "3.2.0")
sqlalchemy-utils==0.33.11
sqlalchemy==1.3.19; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
texttable==1.6.2
tinycss2==1.0.2; python_version >= "3.5"
toml==0.10.2; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.3.0"
typed-ast==1.4.2; implementation_name == "cpython" and python_version < "3.8" and python_version >= "3.6"
urllib3==1.24.3; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0" and python_version < "4")
validators==0.15.0
virtualenv-clone==0.5.4; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
virtualenv==20.0.21; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
visitor==0.1.3
wand==0.5.3
weasyprint==51; python_version >= "3.5"
webencodings==0.5.1
werkzeug==0.16.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
wrapt==1.12.1; python_version >= "3.6" and python_version < "4.0"
wtforms-alchemy==0.16.9
wtforms-components==0.10.4
wtforms==2.2.1
xlrd==1.2.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
xpinyin==0.7.6
xvfbwrapper==0.2.9
zipp==3.1.0; python_version >= "3.6"
zipstream==1.1.4
