
<link rel="stylesheet" href="/static/css/403.css">

<div class="scene">
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <div class="overlay"></div>
  <span class="bg-403">403</span>
  <div class="text">
    <span class="hero-text"></span>
    <span class="msg">Access denied!</span>
    <span class="support">
      <span>This attempt has been logged</span>
      <a href="{{ url_for('main.index') }}" >Get out of here</a>
    </span>
  </div>
  <div class="lock"></div>
</div>


