{% extends "header.html" %} {% block app_content %}


<br>
<div class="container">
<div class="row">
  <div class="col-md-6">
    <h1><i class="fa fa-users"></i> Your collaborations</h1>
  </div>
</div>
<hr>

<a href="{{url_for('collaboration.create_new_firepad')}}" 
     <button class="btn btn-secondary">
  <i class="fa fa-plus-circle">
  </i> Create new pad
  </button>
</a>
</br>
</br>
</br>

<h3><i class="fa fa-crown"> </i> You own these pads</h3>
<br>
<div class="card-columns">
{% for firepad in firepads %}

<div class="card" style="max-width:25rem;">
      <div class="card-body">
     <h5 class="card-title">Pad {{firepad.id}}</h5>
     <p>
     
     {% if firepad.collaborators == [] %}
      Not shared
     {% else %}
     Shared with
      {% for collaboration, user in firepad['collaborators'] %}
      {% if loop.index == loop.length %}
         {% if loop.length == 1 %}
          {{user.username}}
          {% else %}
           and {{user.username}}
          {% endif %}
      {% else %}
      {{user.username}}, 
      {% endif %}
      {% endfor %}
    {% endif %}
    
     </p>
     <a href="{{url_for('collaboration.collaborate', firepad_id = firepad.id)}}" class="btn btn-primary">Open</a>
   </div>
</div>

{% endfor %}
</div>
<hr><br>
<h3><i class="fa fa-users"> </i> You can collaborate on these pads</h3>
<br>
<div class="card-columns">
{% for collab in collabs %}

<div class="card" style="max-width:25rem;">
      <div class="card-body">
        <h5 class="card-title">{{collab.owner.username}}'s Pad {{collab.firepad_id}} </h5>
       <p>
     
     {% if collab.collaborators == [] %}
      Not shared
     {% else %}
     Shared with 
      {% for collaboration, user in collab['collaborators'] %}
       {% if loop.index == loop.length %}
          {% if loop.length == 1 %}
          {{user.username}}
          {% else %}
           and {{user.username}}
          {% endif %}
      {% else %}
      {{user.username}}, 
      {% endif %}
      {% endfor %}
    {% endif %}
    
     </p>      
        
        <a href="{{url_for('collaboration.collaborate', firepad_id = collab.firepad_id)}}" class="btn btn-primary">Open</a>
      </div>
    </div>

{% endfor %}
</div>

</div>
{% endblock %}



