{% extends "header.html" %} {% block app_content %}
{% from 'bootstrap/form.html' import render_form %}

<div class="container">
      <div class="container">
            <div class="col-12">
                  <br><a href="{{url_for('files.class_library')}}"><button class="btn btn-outline-dark mb-3"><i
                                    class="fa fa-chevron-left"></i> Back</button></a>
                  <h1>New live assessment</h1>
                  <hr>
            </div>
            <div class="col-md-4">
                  <form method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                        {{ render_form(form) }}
                  </form>
            </div>
      </div>
</div>

{% endblock %}