{% extends "header.html" %}
{% from 'bootstrap/form.html' import render_field %}
{% block app_content %}

{% if current_user.is_admin %}
{% if turma %}
<!-- New criteria creation modal -->
<div class="modal fade" id="newCriteriaModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <h1 class="display-5"><i class="fa fa-star-half-alt"></i> New criteria</h1>

        <h4><i class="fa fa-users mr-2 mb-2"></i>{{turma.turma_label}}</h4>
        <hr class="my-4">
        <form method="post"
          action="{{url_for('gradebook.create_new_assignment_criteria_for_class', turma_id = turma.id)}}"
          enctype="multipart/form-data">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
          {{ render_field(form.title) }}
          {{ render_field(form.date) }}
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        {{ render_field(form.submit, button_style="success") }}
        </form>
      </div>
    </div>
  </div>
</div>



<!-- Edit percentages modal -->
<style>
  .mainPercentageCard {
    border-radius: 10px;
    border: 1px solid grey;
    width: 500px;
  }

  .mainPercentageCard input {
    width: 50px;
    display: inline-block;
  }

  .mainPercentageCard h5 {
    display: inline-block;
  }

  .criteriaCard {
    border-radius: 5px;
    border: 1px solid grey;
    margin: 5px;
    list-style-type: none;
  }

  .criteriaCard p,
  .criteriaCard input {
    display: inline-block;
    margin-left: 2px;
  }

  .criteriaCard p {
    margin-bottom: 0;
  }
</style>
<div class="modal fade" id="editPercentagesModal" data-turmaid="{{turma.id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <h1 class="display-5"><i class="fa fa-percentage"></i> Edit percentages</h1>
        <h4><i class="fa fa-users mr-2 mb-2"></i>{{turma.turma_label}}</h4>
        <hr class="my-4">

        <div class="cardsBody">

          <div class="mainPercentageCard p-2 mb-2">
            <h5 class="mr-2">Weight</h5>
            <input class="mainWeight" type="number" value="100" />
            <hr>
            {% for criteria in assessment_criteria %}
            <li class="criteriaCard" data-gradebookentryid="{{criteria.gradebook_entry.id}}">
              <input class="criteriaWeight" type="number" value="{{criteria.gradebook_entry.combined_weight}}" />
              <p>{{criteria.assessment.title}}</p>
            </li>
            {% endfor %}
          </div>

        </div>
        <button type="button" class="btn btn-sm btn-info mt-2 addMainPercentageCard"> <i
            class="fa fa-plus-circle"></i></button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success savePercentages">Save</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endif %}

<!-- Main page content -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1><i class="fa fa-star-half-alt"></i> Gradebook</h1>
    </div>
  </div>
  <hr>

  <div class="dropdown">
    <button class="btn btn-lg btn-outline-info dropdown-toggle mb-3" type="button" id="dropdownMenuButton"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      View class gradebook
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for turma_id, turma_label in turma_choices %}
      <a class="dropdown-item" href="{{url_for('gradebook.gradebook_index', turma_id = turma_id)}}">{{turma_label}}</a>
      {% endfor %}
    </div>
  </div>

  {% if turma %}
  <!-- i.e., if we are viewing class data, rather than the main index page-->
  <style>
    .jumbotron {
      padding: 20px;
    }
  </style>
  <div class="jumbotron">
    <h3>{{turma.turma_label}}</h3>
    <p class="lead">{{turma.turma_term}} {{turma.turma_year}}</p>
    <hr class="my-4">

    {% if current_user.is_admin %}

    <div class="dropdown d-inline">
      <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-link mr-2"></i>Link assessment
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

        <h6 class="dropdown-header">Assignments</h6>
        {% for assignment in assignments %}
        {% if assignment.already_linked == True %}
        <a class="dropdown-item"
          href="{{url_for('gradebook.remove_linked_assignment', turma_id = turma.id, assignment_id = assignment.id)}}"><i
            class="fa fa-minus-circle mr-2"></i>{{assignment.title}}</a>
        {% else %}
        <a class="dropdown-item"
          href="{{url_for('gradebook.link_assigment_to_gradebook', turma_id = turma.id, assignment_id = assignment.id)}}"><i
            class="fa fa-plus-circle mr-2"></i>{{assignment.title}}</a>
        {% endif %}
        {% endfor %}
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Attendance</h6>

      </div>
    </div>

    <a href="#"><button class="btn btn-outline-success" data-toggle="modal" data-target="#newCriteriaModal">
        <i class="fa fa-plus-circle">
        </i> Add assessment
      </button>
    </a>

    <!--
    <a href="#"><button class="btn btn-outline-primary" data-toggle="modal" data-target="#editPercentagesModal">
        <i class="fa fa-percentage">
        </i> Edit percentages
      </button>
    </a>-->
    <a href="#"><button class="btn btn-outline-primary download-excel">
        <i class="fa fa-percentage">
        </i> Export grades
      </button>
    </a>
    

    {% endif %}

  </div>

  <table class="tablesorter" id="gradebook-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Username</th>
        <th>Grade</th>
        {% for assessment in assessment_criteria %}
        <th>{{assessment.assessment.title}}</th>
        {% endfor %}
      </tr>
    </thead>

    <tbody class="tablesorter-no-sort">
      <tr id="dates">
        <th></th>
        <th></th>
        <th></th>
        {% for assessment in assessment_criteria %}
        <th>
          {{assessment.assessment.due_date if assessment.assessment_type == 'linked_assignment' else assessment.assessment.date}}
        </th>
        {% endfor %}
      </tr>
    </tbody>

    <tbody>
      {% for student in gradebook %}
      <tr id="student-{{student.id}}" data-studentid="{{student.id}}" class="studentDataRow">
        <td>{{student.student_number}}</td>
        <td>{{student.username}}</td>
        <td></td>
        {% for grade in student.grades %}
        <td class="{{'no-grade' if grade.grade == 'N/A' else ''}} {{'no-edit' if grade.upload_id == None else ''}}"
          data-islinkedassignment="{{grade.is_linked_assignment}}" data-gradebookentryid="{{grade.gradebook_entry.id}}"
          data-grade="{{grade.grade}}" data-assessmentid="{{grade.assessment_id}}" data-uploadid="{{grade.upload_id}}">
          {% if grade.upload_id == None %}
          No upload
          {% else %}
          {{grade.grade}}
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endif %}
  <!-- End of turma-specific logic -->

</div>
{% endblock %}


<!-- Per-page scripts -->
{% block templateScripts %}

<!-- jQuery UI libraries -->
<script src="/static/js/lib/jquery-ui.1.11.1.min.js"></script>
<link rel="stylesheet" href="/static/css/lib/jquery-ui-1.11.4.css">

<!-- Flash messages -->
<script src="/static/js/lib/flash.min.js"></script>

<!-- Add events for table sorter -->
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.bootstrap_4.min.css"
  integrity="sha512-2C6AmJKgt4B+bQc08/TwUeFKkq8CsBNlTaNcNgUmsDJSU1Fg+R6azDbho+ZzuxEkJnCjLZQMozSq3y97ZmgwjA=="
  crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.default.min.css"
  integrity="sha512-wghhOJkjQX0Lh3NSWvNKeZ0ZpNn+SPVXX1Qyc9OCaogADktxrBiBdKGDoqVUOyhStvMBmJQ8ZdMHiR3wuEq8+w=="
  crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"
  integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg=="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/widgets/widget-editable.min.js"
  integrity="sha512-VHlS7CybF1D+OSYJb/aMXybvLSMP8KYApp0A7gtZe4H6AyeamIdK3qlxgyERiOvO4t4r7Ui0PbhnfdNXtYQCKw=="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/widgets/widget-output.min.js" integrity="sha512-w/0jcZWOM0kl4Z9mEQIg3jZ/HHRTd9P57G+gC7yL5MdIqnu1ZQkTNceN3G12Z/FeHoLzb3sRFDOqro3bpd/1bg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
  .tablesorter tbody>tr>td>div[contenteditable=true]:focus {
    outline: #08f 1px solid;
    background: #eee;
    resize: none;
  }

  td.no-grade,
  span.no-grade {
    background-color: rgba(195, 193, 190, 0.5);
  }

  td.no-edit,
  span.no-edit {
    background-color: rgba(230, 191, 153, 0.5);
  }

  .focused {
    color: blue;
  }

  td.editable_updated {
    background-color: green;
    color: white;
  }
</style>


{% if current_user.is_admin %}
<script>
  $(function () {

    ////////////////////////////////////
    // Percentage adjustment scripts ///
    ////////////////////////////////////

    $('.addMainPercentageCard').on('click', function () {
      var html = '<div class="mainPercentageCard p-2 mb-2">';
      html += '<h5 class="mr-2">Weight</h5><input class="mainWeight" type="number" value="100" />';
      html += '</div>';

      $('.cardsBody').append(html);

      enableSorting();
    });

    // Function to enable sorting
    var enableSorting = function () {
      // Retrigger the sorting 
      $('.mainPercentageCard').sortable({
        connectWith: '.mainPercentageCard'
      });
    };

    enableSorting();


    // Function to write a percentage object into the HTML
    var writePercentageObject = function (percentageObject) {

      // Remove any existing HTML
      $('.cardsBody').empty();

      $.each(percentageObject, function (indexInArray, percentageObjectGroup) {
        var weight = percentageObjectGroup.grouped_weight;

        var html = '<div class="mainPercentageCard p-2 mb-2">';
        html += '<h5 class="mr-2">Weight</h5><input class="mainWeight" type="number" value="' + weight +
          '" />';
        html += '<hr>';

        $.each(percentageObjectGroup.gradebook_entries, function (indexInArray, gradebookEntry) {
          html += '<li class="criteriaCard" data-gradebookentryid="' + gradebookEntry.gradebook_entry_id +
            '">';
          html += '<input class="criteriaWeight" type="number" value="' + gradebookEntry.weight + '" />';
          html += '<p>' + gradebookEntry.assessment_title + '</p></li>';
        });

        html += '</div>';

        $('.cardsBody').append(html);

        enableSorting();
      });
    };


    // Function to retrieve percentage object
    var loadPercentageObject = function () {

      var turmaId = $('#editPercentagesModal').data('turmaid');
      fetch('/gradebook/api/percentages/load/' + turmaId).then(res => res.json()).then(data => {
        var percentageObject = data.percentages;
        console.log(percentageObject);

        // If we returned a full object, load it
        if (!(data.hasOwnProperty('error'))) {
          writePercentageObject(percentageObject);
        }
      })
    };

    // On startup, load the percentage object
    loadPercentageObject();


    // Function to build a percentage object
    var getPercentageObject = function () {
      // Create object to store data in
      var mainPercentagesObject = [];

      // For each mainPercentageCard, gather info about the criteria
      $.each($('.mainPercentageCard'), function (indexInArray, card) {
        // Initialise variables each loop 
        // !FIXME is there a better way to reset these?
        var cardObject = {};
        var gradebookEntries = [];

        var mainWeight = $(card).find('.mainWeight').first().val();

        // Get the criteria in this card
        var cardCriteria = $(card).find('.criteriaCard');

        // Loop through each criteria to find ID and weight
        $.each(cardCriteria, function (indexInArray, criteria) {
          var gradebookEntryId = $(criteria).data('gradebookentryid');
          var criteriaWeight = $(criteria).find('.criteriaWeight').first().val();

          // Push an object with these to the gradebook
          gradebookEntries.push({
            gradebook_entry_id: gradebookEntryId,
            weight: criteriaWeight
          })
        });

        // Build the data object for this card
        cardObject = {
          grouped_weight: mainWeight,
          gradebook_entries: gradebookEntries
        }

        // Add this to the main array
        mainPercentagesObject.push(cardObject);
      });

      return mainPercentagesObject;
    };


    // Function to check if the percentages are valid
    var checkIfPercentagesAreValid = function (percentagesObject) {
      var objectIsValid = true;

      // Check the main card percentages
      var total = 0;
      $.each(percentagesObject, function (indexInArray, cardObject) {
        total = total + parseFloat(cardObject.grouped_weight);

        // Check if the values inside the card add up to 100
        var cardTotal = 0
        $.each(cardObject.gradebook_entries, function (indexInArray, gradebookEntryObject) {
          cardTotal = cardTotal + parseFloat(gradebookEntryObject.weight);
        });
        if (cardTotal !== 100) {
          flash('The individual card weights do not add up to 100!');
          objectIsValid = false;
        }
      });

      if (total !== 100) {
        flash('The main card weights do not add up to 100!');
        objectIsValid = false;
      }

      return objectIsValid;
    };


    // On clicking save, save this percentage table to the database
    $('.savePercentages').on('click', function (event) {
      var mainPercentagesObject = getPercentageObject();

      // If all the data is valid, POST AJAX to save
      if (checkIfPercentagesAreValid(mainPercentagesObject)) {

        const csrftoken = Cookies.get('_csrf_token');
        var data = {
          percentagesObject: mainPercentagesObject
        };

        var turmaId = $('#editPercentagesModal').data('turmaid');
        var apiUrl = '/gradebook/api/percentages/save/' + turmaId;
        fetch(apiUrl, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json;charset=utf-8',
            'X-CSRFToken': csrftoken
          },
          body: JSON.stringify(data)
        }).then(res => res.json()).then(data => {
          if (!data.hasOwnProperty('error')) {
            // Do nothing on successful data entry
            console.log(data);
          } else {
            // There was an error...
            console.log(data);
          }
        });
      }
    });


    ////////////////////////
    // Main page scripts ///
    ////////////////////////

    // Enable the datefield to use UI datepicker
    $('#date').datepicker({
      dateFormat: 'yy-mm-dd'
    });

    var $table = $("#gradebook-table");
    
    // Enable the table sorter and editable plugin
    $table.tablesorter({
      cssInfoBlock: "tablesorter-no-sort",
      widgets: ['editable', 'output'],
      widgetOptions: {
        editable_columns: "2-100", // or "0-2" (v2.14.2); point to the columns to make editable (zero-based index)
        editable_enterToAccept: true, // press enter to accept content, or click outside if false
        editable_autoAccept: true, // accepts any changes made to the table cell automatically (v2.17.6)
        editable_autoResort: false, // auto resort after the content has changed.
        editable_validate: null, // return a valid string: function(text, original, columnIndex) { return text; }
        editable_focused: function (txt, columnIndex, $element) {
          // $element is the div, not the td
          // to get the td, use $element.closest('td')
          $element.addClass('focused');
        },
        editable_blur: function (txt, columnIndex, $element) {
          // $element is the div, not the td
          // to get the td, use $element.closest('td')
          $element.removeClass('focused');
        },
        editable_selectAll: function (txt, columnIndex, $element) {
          // note $element is the div inside of the table cell, so use $element.closest('td') to get the cell
          // only select everthing within the element when the content starts with the letter "B"
          return /^b/i.test(txt) && columnIndex === 0;
        },
        editable_wrapContent: '<div>', // wrap all editable cell content... makes this widget work in IE, and with autocomplete
        editable_trimContent: true, // trim content ( removes outer tabs & carriage returns )
        editable_noEdit: 'no-edit', // class name of cell that is not editable
        editable_editComplete: 'editComplete', // event fired after the table content has been edited

        // set to "json", "array" or any separator
        output_separator: ',',
        // header attrib containing modified header name
        output_dataAttrib: 'data-name',
        // if true, include multiple header rows (JSON only)
        output_headerRows: false,
        // popup, download
        output_delivery: 'd',
        // all, visible or filtered
        output_saveRows: 'filtered',
        // left double quote
        output_replaceQuote: '\u201c;',
        // if true, include any HTML within the table cell
        output_includeHTML: false,
        // remove extra whitespace before & after the cell content
        output_trimSpaces: true,
        // if true, wrap all output in quotes
        output_wrapQuotes: false,
        // if using popup, set it's dimensions here
        output_popupStyle: 'width=500,height=300',
        // if saving a file, set the file name here
        output_saveFileName: 'WorkUp grades.csv',
        // callback executed when processing completes
        // return true to continue download/output
        // return false to stop delivery & do something else with the data
        output_callback: function (config, data) {
          const fileName = '{{turma.turma_label}}.csv';
          var blob = new Blob([decodeURIComponent(encodeURI(data))], {
            type: "text/csv;charset=utf-8;"
          });

          if (navigator.msSaveBlob) { // IE11 and Edge 17-
              navigator.msSaveBlob(blob, fileName)
          } else { // every other browser
              const reader = new FileReader()
              reader.onloadend = () => {
                  const a = document.createElement("a")
                  a.href = reader.result
                  a.style.display = 'none'
                  a.download = fileName
                  document.body.appendChild(a)
                  a.click()
                  a.parentNode.removeChild(a)
              }
              reader.readAsDataURL(blob)
          }
        },
        // JSON callback executed when a colspan is encountered in the header
        output_callbackJSON: function ($cell, txt, cellIndex) {
            return txt + '(' + (cellIndex + col) + ')';
        }
      }
    }).children('tbody').on('editComplete', 'td', function (event, config) {
      var $this = $(this),
        newContent = $this.text(),
        cellIndex = this.cellIndex, // there shouldn't be any colspans in the tbody
        rowIndex = $this.closest('tr').attr('id'); // data-row-index stored in row id

      $this.addClass('editable_updated'); // green background + white text
      setTimeout(function () {
        $this.removeClass('editable_updated');
      }, 500);


      // Get the grade variables
      var data = {
        isLinkedAssignment: $this.data('islinkedassignment'),
        grade: $this.text(),
        assessmentId: $this.data('assessmentid'),
        studentId: $this.closest('tr').data('studentid'),
        uploadId: $this.data('uploadid')
      }

      const csrftoken = Cookies.get('_csrf_token');

      // Send the AJAX call to update the grade/assessment
      if (data.isLinkedAssignment == 'True') {
        var apiUrl = '/assignments/api/grade/save/' + data.uploadId + '/' + data.grade;
      } else {
        var apiUrl = '/gradebook/api/grade/save/' + data.studentId + '/' + data.assessmentId;
      }

      fetch(apiUrl, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json;charset=utf-8',
          'X-CSRFToken': csrftoken
        },
        body: JSON.stringify(data)
      }).then(res => res.json()).then(data => {
        if (!data.hasOwnProperty('error')) {
          // Do nothing on successful data entry
          console.log(data);
        } else {
          // There was an error...
          console.log(data);
        }
      });

    });
    
    // Enable downloads
    $('.download-excel').on('click', function(){
        $table.trigger('outputTable');
    });

  });
</script>

{% else %}

<script>
  $(function () {
    // Enable the table sorter and editable plugin
    $("#gradebook-table").tablesorter();
  });
</script>
{% endif %}

{% endblock %}