import os
basedir = os.path.abspath(os.path.dirname(__file__))

class Config(object):
	SECRET_KEY = os.environ.get('SECRET_KEY') or os.urandom(12)
	MAX_CONTENT_LENGTH = 16 * 1024 * 1024
	APP_ROOT = basedir
	UPLOAD_FOLDER = os.path.join(basedir, 'uploads')
	ALLOWED_EXTENSIONS = set(['txt', 'zip', 'pdf', 'doc', 'docx', 'pages'])
	ADMIN_USERS = {''}
	SIGNUP_CODES = {''}
	ADMIN_SIGNUP_CODES = {''}
	
	# SQL
	SQLALCHEMY_DATABASE_URI = os.environ.get('DATABASE_URL') or \
		'sqlite:///' + os.path.join(basedir, 'workUpApp.db')
	SQLALCHEMY_TRACK_MODIFICATIONS = False