import os
basedir = os.path.abspath(os.path.dirname(__file__))

class Config(object):
	SECRET_KEY = os.environ.get('SECRET_KEY') or os.urandom(12)
	MAX_CONTENT_LENGTH = 16 * 1024 * 1024
	APP_ROOT = basedir
	
	UPLOAD_FOLDER = os.path.join(basedir, 'uploads')
	ALLOWED_EXTENSIONS = set(['txt', 'zip', 'pdf', 'doc', 'docx', 'pages'])
	SIGNUP_CODES = {''}
	REGISTRATION_IS_OPEN = False
	
	SMTP_SERVER = ''
	SMTP_PORT = 580
	SMTP_USERNAME = ''
	SMTP_PASSWORD = ''
	SMTP_FROM_ADDRESS = ''
	
	TS_SALT = os.environ.get('SECRET_KEY') or os.urandom(12)
	TS_RECOVER_SALT = os.environ.get('SECRET_KEY') or os.urandom(12)
	TS_MAX_AGE = 86400
	
	# SQL
	SQLALCHEMY_DATABASE_URI = os.environ.get('DATABASE_URL') or \
		'sqlite:///' + os.path.join(basedir, 'workUpApp.db')
	SQLALCHEMY_TRACK_MODIFICATIONS = False