{% extends "header.html" %} {% block app_content %}
<div class="container">
  <br>
  <div class="container">
    <div class="row">
      <br/>
      <div class="col-md-3">
        <h1><i class="fa fa-book-open"></i> Library
        </h1>
      </div>
    </div>
  </div>
  <hr>
  {% if admin %}
  <div class="row text-center">
    <div class="col">
      <div class="counter">
        <i class="fa fa-archive fa-2x">
        </i>
        <h2 class="timer count-title count-number">{{library|length}}
        </h2>
        <p class="count-text ">Library files
        </p>
      </div>
    </div>
    <div class="col">
      <div class="counter">
        <i class="fa fa-file-download fa-2x">
        </i>
        <h2 class="timer count-title count-number">{{total_library_downloads}}
        </h2>
        <p class="count-text ">Downloads
        </p>
      </div>
    </div>
    <div class="col">
      <div class="counter">
        <i class="fa fa-university fa-2x">
        </i>
        <h2 class="timer count-title count-number">{{classes|length}}
        </h2>
        <p class="count-text ">Classes
        </p>
      </div>
    </div>
    <div class="col">
      <div class="counter">
        <i class="fa fa-user-graduate fa-2x">
        </i>
        <h2 class="timer count-title count-number">{{student_count}}
        </h2>
        <p class="count-text ">Students
        </p>
      </div>
    </div>
  </div>
  <br>
  <br>
  <a href="{{url_for('files.upload_library_file')}}" 
     <button class="btn btn-secondary">
  <i class="fa fa-file-upload">
  </i> Upload new library file 
  </button>
</a>
</div>
<br>
</br>
<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    {% for class in classes %}
    {% if loop.index 
    <=1 %}
       <li class="nav-item">
    <a class="nav-link active" id="{{class.id}}-tab" data-toggle="tab" href="#{{class.id}}" role="tab" aria-controls="{{class.id}}" aria-selected="true">{{class.turma_label}}
    </a>
    </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" id="{{class.id}}-tab" data-toggle="tab" href="#{{class.id}}" role="tab" aria-controls="{{class.id}}" aria-selected="false">{{class.turma_label}}
    </a>
  </li>
  {% endif %}
  {% endfor %}
  </ul>
<div class="tab-content" id="myTabContent">
  {% for class in classes %}
  {% if loop.index
  <=1 %}
     <div class="tab-pane fade show active" id="{{class.id}}" role="tabpanel" aria-labelledby="{{class.id}}-tab">
  {% else %}
  <div class="tab-pane fade" id="{{class.id}}" role="tabpanel" aria-labelledby="{{class.id}}-tab">
    {% endif %}
    <br>
    <div class="row">
      {% for class_library_file, library_upload in library %}
      {% if class_library_file.turma_id == class.id %}
      {% set thumbnail_filename = library_upload.filename.split('.') %}
      <div class="col-xs-12 col-sm-4">
        <div class="library_card">
          <div class="img-library_card">
            <img src="/static/thumbnails/{{thumbnail_filename[0]}}.jpeg" />
          </div>
          <div class="library_card-content">
            <h4 class="library_card-title">
              {{library_upload.title}}
            </h4> {{library_upload.description}}
          </div>
          <div class="library_card-read-more">
            <div class="row">
              <div class="col-xs-12 col-lg-6">
                <p>
                  <a href="{{url_for('files.download_library_file', library_upload_id = library_upload.id)}}" 
                     <button class="btn btn-sm btn-block btn-outline-secondary">
                  <i class="fa fa-fw fa-download">
                  </i> Download
                </button>
              </a>
            </p>
        </div>
        <div class="col-xs-12 col-lg-6">
          
            <button class="btn btn-secondary float-right dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class ="fa fa-ellipsis-h">
              </i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{{url_for('files.view_library_downloads', library_upload_id = library_upload.id)}}">
                <i class="fa fa-glasses">
                </i> View downloads
              </a>
               <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{url_for('files.edit_library_file', library_upload_id = library_upload.id)}}">
                <i class="fa fa-fw fa-edit">
                </i> Edit 
              </a>
              <a class="dropdown-item" href="{{url_for('files.delete_library_file', library_upload_id = library_upload.id, turma_id = class_library_file.turma_id)}}">
                <i class="fa fa-fw fa-folder-minus">
                </i> Delete for this class
              </a>
              <a class="dropdown-item" href="{{url_for('files.delete_library_file', library_upload_id = library_upload.id)}}">
                <i class="fa fa-fw fa-trash-alt">
                </i> Delete for all
              </a>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
</div>
</div>
{% endfor %}
</div>
</div>
{% else %}
<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    {% for enrollment, user, turma in enrollment %}
    {% if loop.index
    <=1 %}
       <li class="nav-item">
    <a class="nav-link active" id="{{enrollment.id}}-tab" data-toggle="tab" href="#{{enrollment.id}}" role="tab" aria-controls="{{enrollment.id}}" aria-selected="true">{{turma.turma_label}}
    </a>
    </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link" id="{{enrollment.id}}-tab" data-toggle="tab" href="#{{enrollment.id}}" role="tab" aria-controls="{{enrollment.id}}" aria-selected="false">{{turma.turma_label}}
    </a>
  </li>
  {% endif %}
  {% endfor %}
  </ul>
<div class="tab-content" id="myTabContent">
  {% for enrollment, user, turma in enrollment %}
  {% if loop.index
  <=1 %}
     <div class="tab-pane fade show active" id="{{enrollment.id}}" role="tabpanel" aria-labelledby="{{enrollment.id}}-tab">
  {% else %}
  <div class="tab-pane fade" id="{{enrollment.id}}" role="tabpanel" aria-labelledby="{{enrollment.id}}-tab">
    {% endif %}
    <br>
    <div class="row">
      {% for library_enrollment, library_user, library_turma, library_class_library_file, library_library_upload in library %}
      {% if library_turma.id == enrollment.turma_id %}
      {% set thumbnail_filename = library_library_upload.filename.split('.') %}
      <div class="col-xs-12 col-sm-4">
        <div class="library_card">
          <div class="img-library_card">
            <img src="/static/thumbnails/{{thumbnail_filename[0]}}.jpeg" />
          </div>
          <div class="library_card-content">
            <h4>
              {{library_library_upload.title}}
            </h4> 
            {{library_library_upload.description}}
          </div>
          <div class="library_card-read-more">
            <a href="{{url_for('files.download_library_file', library_upload_id = library_library_upload.id)}}" 
               <button class="btn btn-sm btn-outline-secondary">
            <i class="fa fa-download">
            </i> Download
            </button>
          </a>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
</div>
{% endfor %}
</div>
</div>
{% endif %} {% endblock %}

