  {% extends "header.html" %}
  
  
  {% block app_content %}

 <div class="container">

 <div class="card bg-light mb-3" style="max-width: 25rem;">
  <div class="card-body">
    <h1>Start a peer review</h1>
    <hr>
    <br>
    <h6>1. Click the download button to download an assignment.</h6>
    <br>
      <form action="{{url_for('main.downloadRandomFile', assignmentId = assignmentId)}}" method="post">
        <input type="submit" value="Download" />
      </form>
  </div>
    <div class="card-footer">
    <p><h6>2. After reading the assignment, fill out a peer review.</h6></p>
  <a href="{{url_for('main.createPeerReview', assignmentId = assignmentId)}}" class="btn btn-primary" role="button">Go to peer review form</a>
  <br></br>
    </div>
  </div>
</div>
  {% endblock %}
