
  {% extends "header.html" %}
  
  {% block app_content %}
<div class="container">
<br>
  <div class="row">
        <div class="col-md-8">
			<h1>Admin file stats view</h1>
		</div>
  </div>

<br />
  <body>
  <p>
    The path to the upload folder is: {{template_packages['upload_folder_path']}}
  </p>
  <p>
    There are {{template_packages['total_upload_count']}} files in the uploads folder:
  </p>
 <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table summary="Users have uploaded the following files:" class="table table-bordered table-hover">
		  <thead>
            <tr>
              <th>ID</th>
              <th>Filename</th>
              <th>User</th>
              <th>Datetime</th>
              <th>Assignment</th>
              <th>Actions</th>
            </tr>
          </thead>
		  <tbody>
			{% for upload, user, assignment in template_packages['uploads_object'] %}
            <tr>
              <td>{{ upload.id }}</td>
              <td>{{ upload.original_filename }}</td>
              <td>{{ user.username }}</td>
              <td>{{ upload.timestamp.strftime('%m-%d %H:%M:%S')}}</td>
              <td>{{ assignment.title }}</td>
              <td><a href="{{url_for('files.download', file_id = upload.id, rename=True)}}" class="btn btn-primary btn-sm">Download</a></td>
            </tr>
           {% endfor %}
          </tbody>
          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>
 </body>
  
    </div>
{% endblock %}
