
  {% extends "header.html" %}
  
  {% block app_content %}
<div class="container">
<br>
  
	 <body>
	<div class="row">
        <div class="col-md-12">
			<h1>Uploaded files</h1>
    
		</div>
  </div>
 <hr>
    <br></br>
 <div class="container">
  <div class="card-deck">
  
  {% for upload in all_post_info %}
  
  <div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">{{ upload[0].original_filename }}</div>
  <div class="card-body">
    <h5 class="card-title">Peer reviews: {{upload[1]}}</h5>
    <p class="card-text">Date uploaded: {{ upload[0].timestamp }}</p>
    <a href="{{url_for('files.view_comments', file_id = upload[0].id)}}" class="btn btn-primary">View comments</a>
    
  </div>
</div>
  {% endfor %}
  
  </div>
    </div>
  </div>
</div>
	
</body>
  
    </div>
{% endblock %}
