
  {% extends "header.html" %}
  
  {% block app_content %}
<div class="container">
<br>
  <div class="row">
        <div class="col-md-8">
			<h1>Admin student uploads view</h1>
   <hr>
		</div>
  </div>

<br />
  <body>
   
   
   <div class="container">
             
  <div class="row text-center">
	        <div class="col">
	        <div class="counter">
      <i class="fa fa-file-upload fa-2x"></i>
      <h2 class="timer count-title count-number">{{template_packages['total_upload_count']}}</h2>
       <p class="count-text ">Total uploads</p>
    </div>
	        </div>
              <div class="col">
               <div class="counter">
      <i class="fa fa-folder fa-2x"></i>
      <h2 class="timer count-title count-number">Uploads folder</h2>
      <p class="count-text ">{{template_packages['upload_folder_path']}}</p>
    </div>
              </div>  
  
  </div>
 
 <br>
 <hr>
  
 
 <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table summary="Users have uploaded the following files:" class="table table-bordered table-hover">
		  <thead>
            <tr>
              <th>Filename</th>
              <th>User</th>
              <th>Uploaded</th>
              <th>Assignment</th>
              <th>Actions</th>
            </tr>
          </thead>
		  <tbody>
			{% for upload, user, assignment in template_packages['uploads_object'] %}
            <tr>
              <td>{{ upload.original_filename }}</td>
              <td>{{ user.username }}</td>
              <td>{{ upload.timestamp.strftime('%b-%d %H:%M:%S')}}</td>
              <td>{{ assignment.title }}</td>
              <td><a href="{{url_for('files.download', file_id = upload.id, rename=True)}}" class="btn btn-primary btn-sm"><i class="fa fa-file-download"></i> Download</a></td>
            </tr>
           {% endfor %}
          </tbody>
          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>
 </body>
  
    </div>
{% endblock %}
