
  {% extends "header.html" %}
  
  
  {% block app_content %}
<div class="container">
<br>
  
  <div class="container">

 <div class="card bg-light mb-3" style="max-width: 50rem;">
  <div class="card-body">
    <h1>{{title}}</h1>
    <hr>
    {% if user_info %}
    <h4><i class="fa fa-tasks"></i> {{assignment_info.title}}</h4>
    <h4><i class="fa fa-user"></i> {{class_info.turma_label}}</h4>
    <br>
     <h4><i class="fa fa-id-badge"></i> {{user_info.student_number}} - {{user_info.username}}</h4>
    <hr>
    {% endif %}

     {{ form|safe }}
    <br>
  </div>
</div>

  
    </div>
{% endblock %}
