{% extends "header.html" %}
{% block app_content %}
<div class="container">
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <a href="{{url_for('assignments.view_assignments')}}" 
           <button class="btn btn-light">
        <i class="fa fa-chevron-left">
        </i> Back 
        </button>
      </a>
  </div>
  <div class="col-md-10">
    <h1>Replace uploaded file
    </h1>
  </div>
</div>
<hr>
</div>
<div class="container">
  <div class="card bg-light mb-3">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-2 text-center">
            <h1 class="display-4">
              <span class="badge badge-secondary">{{assignment['due_date'].strftime('%d')}}
              </span>
            </h1>
            <h2>{{assignment['due_date'].strftime('%b')|upper}}
            </h2>
          </div>
          <div class="col-10">
            <h3 class="text">
              <strong>{{assignment['title']}}
              </strong>
            </h3>
            <ul class="list-inline">
              <li class="list-inline-item">
                <i class="fa fa-calendar" aria-hidden="true">
                </i> due on {{assignment['due_date'].strftime('%A')}}, {{assignment['humanized_due_date']}}
              </li>
              {% if assignment['assignment_task_filename'] %}
              <a href="{{url_for('files.download_assignment_file', assignment_id = assignment['id'])}}">
                <li class="list-inline-item">
                  <i class="fa fa-info-circle" aria-hidden="true">
                  </i> {{ assignment['assignment_task_filename']}}
                </li>
              </a>
              {% endif %}
            </ul>
            <em>{{assignment['description']}}
            </em>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h2>Current upload
      </h2>
      <br>
      <div class="library_card">
        <div class="img-library_card">
          {% set thumbnail_filename = current_upload.filename.split('.') %}
          <img src="/static/thumbnails/{{thumbnail_filename[0]}}.jpeg" />
        </div>
        <div class="library_card-content">
          <p>{{current_upload.original_filename|truncate(42)}}
          </p>
        </div>
        <div class="library_card-read-more">
          <a href="{{url_for('files.download', file_id = current_upload.id)}}" class="btn btn-secondary btn-sm" role="button">
            <i class="fa fa-download">
            </i> Download
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <h2>Upload a different file
      </h2>
      <br>
      <h5>Please select the file you want to upload.
      </h5>
      <br />
      <form action="" method="post" enctype="multipart/form-data">
        <br />
        <input type="file" name="file" /> 
        <input type="submit" onclick="this.disabled=true; this.value='Please Wait...'; this.form.submit();" />
        <br/>
      </form>
    </div>
  </div>
</div>
{% endblock %}

