
  {% extends "header.html" %}
  
{% block app_content %}
<div class="container">
<br>
<div class="card bg-light mb-3" style="max-width: 40rem;">
  <div class="card-body">

    <h1>Upload assignment</h1>
    <hr>
  <p>Please select the file you want to upload.<br />
  Make sure you have removed your name and number from the work you submit.</p>
    
  <form action="" method="post" enctype="multipart/form-data">
    <br />
    <input type="file" name="file" /> <input type="submit" onclick="this.disabled=true; this.value='Please Wait...'; this.form.submit();" />
  
  <br/></form>
   </div>
</div>

  </div>
{% endblock %}
