
  {% extends "header.html" %}
  
{% block app_content %}
<div class="container">
<br>
<div class="row">
        <div class="col-md-4">
    <h1>Upload assignment</h1>
     </div>
    </div>

<div class="row">
        <div class="col-md-8">
  <p><em>Please select the file you want to upload.<br />
  Make sure you have removed your name and number from the work you submit.</em></p>
<br />
    
<div class="row">
        <div class="col-md-8">
  <form action="" method="post" enctype="multipart/form-data">
    <br />
    <input type="file" name="file" /> <input type="submit" />
  
  <br /></form>
  <br />
   </div>
	
	
</div>

  </div>
{% endblock %}
