{% extends "header.html" %}

{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}
<div class="container">
<br>
 <div class="container">

 <div class="card bg-light mb-3" style="max-width: 25rem;">
  <div class="card-body">
    <h1>Login</h1>
    <hr>
    <br>
      {{ render_form(form) }}
      <br>
  </div>
    <div class="card-footer">
        <p><a href="{{ url_for('user.register') }}" class="btn btn-outline-primary">New user?</a></p>
        <a href="{{ url_for('user.reset') }}" class="btn btn-outline-primary">Forgot your password?</a>
    </div>
  </div>
</div>
</div>
{% endblock %}