{% extends "header.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}

<div class="container">
<a href="{{url_for('main.index')}}" <button class="btn btn-secondary"><i class="fa fa-chevron-left"></i> Back</button></a>
<br><br>
{% block body %}

 <div class="container">
  <h1>{{title}}</h1>
  <hr>
 <div class="row">
   <div class="col-md-2">
    <h4>Settings</h4>
     </div>
   
   <div class="col-md-3">
 <h5>Student registration</h5>
  
  <div class="btn-group btn-toggle">
   {% if registration_is_open %}
   <a href="{{url_for('user.toggle_registration_status')}}" <button class="btn btn btn-primary active">ON</button></a>
   <a href="{{url_for('user.toggle_registration_status')}}" <button class="btn btn btn-light">OFF</button></a>
   
    {% else %}
     <a href="{{url_for('user.toggle_registration_status')}}" <button class="btn btn btn-light">ON</button></a>
   <a href="{{url_for('user.toggle_registration_status')}}" <button class="btn btn btn-primary active">OFF</button></a>

    {% endif %}
   
  </div>
   
   </div>
  <div class="col-md-3">
  <h5>Sign-up code</h5>
  {% for code in sign_up_code %}
  <p>{{code}}</p>
  {% endfor %}
  <p><a href="{{url_for('user.change_registration_code')}}" <button class="btn btn-sm btn-info"><i class="fa fa-unlock-alt"></i> Change sign-up code</button></a></p>
  </div>
   
   <div class="col-md-3">
    <p><a href="{{url_for('user.register')}}"" <button class="btn btn-primary"><i class="fa fa-user-plus"></i> Register new student</button></a></p>
    <p><a href="{{url_for('user.send_new_confirmation_email_to_all_unconfirmed_users')}}"" <button class="btn btn-warning"><i class="fa fa-mail-bulk"></i> Bulk send unanswered confirmation emails</button></a></p>
    <p><a class="btn btn-secondary" href="{{url_for('user.batch_import_students')}}" role="button"><i class="fa fa-file-import"></i> Batch import students</a></p>
  
   </div>
   
 </div>
 
  <hr>
  <br>
 <input id="myInput" type="text" placeholder="Search..">
 <br><br>

  </div>
   <h3>Enrolled users</h3>   
      <div class="table-responsive">
            <table summary="User table" class="table table-bordered table-hover">
           <thead>
              <tr>
              <th>Number</th>
              <th>Username</th>
              <th>Email</th>
        		  <th>Enrollment</th>
        		  <th>Last seen</th>
        		  <th>Registered</th>
        		  <th>Email Confirmed</th>
        		  <th>Privileges</th>
        		  <th>Actions</th>
            </tr>
          </thead>
		  <tbody id="searchableTable">
			{% for user, enrollment_info in student_info %}
            <tr>
              <td>{{user.student_number}}</td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>{{enrollment_info}}</td>
              <td>{{user.last_seen.strftime('%d %b %H:%M:%S')}}</td>
              <td>{{user.registered.strftime('%d %b %H:%M:%S')}}</td>
              {% if user.email_confirmed==True %}
               <td><button class="btn btn-sm btn-secondary"><i class="fa fa-check-circle"></i></button></td>
              {% else %}
               <td>
                <a href="{{url_for('user.send_new_confirmation_email', user_id = user.id)}}" class="btn btn-warning btn-sm btn-block" role="button"><i class="fa fa-user-times"></i> Send again</a>           
               </td>
              {% endif %}

              {% if user.is_admin==True %}
               <td><a href="{{url_for('user.remove_admin_rights', user_id = user.id)}}" class="btn btn-danger btn-sm btn-block" role="button"><i class="fa fa-user-slash"></i> Make student</a></td>
              {% else %}
               <td><a href="{{url_for('user.give_admin_rights', user_id = user.id)}}" class="btn btn-warning btn-sm btn-block" role="button"><i class="fa fa-user-tie"></i> Make teacher</a></td>
              {% endif %}       
              <td>
               <a href="{{url_for('user.edit_user', user_id = user.id)}}" class="btn btn-primary btn-sm btn-block" role="button"><i class="fa fa-user-edit"></i> Edit</a>           
               <a href="{{url_for('user.delete_user', user_id = user.id)}}" class="btn btn-danger btn-sm btn-block" role="button"><i class="fa fa-user-times"></i> Delete</a>           
              </td>
            </tr>
           {% endfor %}
          </tbody>
          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
       <h3>Non enrolled users</h3>
      <div class="table-responsive">
            <table summary="All User table" class="table table-bordered table-hover">
           <thead>
              <tr>
              <th>Number</th>
              <th>Username</th>
              <th>Email</th>
        		  
        		  <th>Last seen</th>
        		  <th>Registered</th>
        		  <th>Email Confirmed</th>
        		  <th>Admin</th>
        		  <th>Actions</th>
            </tr>
          </thead>
		  <tbody id="searchableTable">
			{% for user in non_enrolled_users %}
            <tr>
              <td>{{user.student_number}}</td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              
              <td>{{user.last_seen.strftime('%d %b %H:%M:%S')}}</td>
              <td>{{user.registered.strftime('%d %b %H:%M:%S')}}</td>
              {% if user.email_confirmed==True %}
               <td><button class="btn btn-sm btn-secondary"><i class="fa fa-check-circle"></i></button></td>
              {% else %}
               <td><button class="btn btn-sm btn-warning"><i class="fa fa-times-circle"></i></button></td>
              {% endif %}

              {% if user.is_admin==True %}
               <td><a href="{{url_for('user.remove_admin_rights', user_id = user.id)}}" class="btn btn-danger btn-sm btn-block" role="button"><i class="fa fa-user-slash"></i> Make student</a></td>
              {% else %}
               <td><a href="{{url_for('user.give_admin_rights', user_id = user.id)}}" class="btn btn-warning btn-sm btn-block" role="button"><i class="fa fa-user-tie"></i> Make teacher</a></td>
              {% endif %}       
              <td>
               <a href="{{url_for('user.edit_user', user_id = user.id)}}" class="btn btn-primary btn-sm " role="button"><i class="fa fa-user-edit"></i> Edit</a>           
               <a href="{{url_for('user.delete_user', user_id = user.id)}}" class="btn btn-danger btn-sm " role="button"><i class="fa fa-user-times"></i> Delete</a>           
              </td>
            </tr>
           {% endfor %}
          </tbody>
          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
      
 
 
</div>
</div>
{% endblock %}
</div>
{% endblock %}
