
  {% extends "header.html" %}
  
  
  {% block app_content %}
<div class="container">
<br>
  <div class="row">
        <div class="col-md-8">
			<h1>Create new class</h1>
		</div>
  </div>

<br />
   <div class="container">
	<a href="{{url_for('assignments.create_class')}}">Create new class</a>
  <div class="row">
    <div class="col-xs-12">
      <div class="table">
        <table summary="List of classes" class="table table-bordered table-hover">
          <caption class="text-center">You have created the following classes:</a></caption>
		  <thead>
            <tr>
              <th>ID</th>
              <th>Number</th>
              <th>Label</th>
			  <th>Term</th>
			  <th>Year</th>
			  <th>Actions</th>
            </tr>
          </thead>
		  <tbody>
			{% for classInfo in classesArray %}
            <tr>
              <td>{{classInfo[0]}}</td>
              <td>{{classInfo[1]}}</td>
              <td>{{classInfo[2]}}</td>
			  <td>{{classInfo[3]}}</td>
			  <td>{{classInfo[4]}}</td>
			  <td><a href="{{url_for('assignments.delete_class', turmaId=classInfo[0])}}">Delete</a></td>
            </tr>
           {% endfor %}
          </tbody>
          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>
   
  
	</div
  
    </div>
{% endblock %}
