
  {% extends "header.html" %}
  
  
  {% block app_content %}

<div class="container">
<br>


{% block body %}
<div class="container">
  
   <div class="card bg-light mb-3" style="max-width: 25rem;">
  <div class="card-body">
    <h1>Class admin</h1>
    <hr>
    <a class="btn btn-primary" href="{{url_for('assignments.create_class')}}" role="button">Create new class</a>
  </div>
  </div>
  
<br>

   <div class="container">
	
  <div class="row">
    <div class="col-xs-12">
      <div class="table">
        <table summary="List of classes" class="table table-bordered table-hover">
		  <thead>
            <tr>
              <th>ID</th>
              <th>Number</th>
              <th>Label</th>
			  <th>Term</th>
			  <th>Year</th>
			  <th>Actions</th>
            </tr>
          </thead>
		  <tbody>
			{% for class in classes_array %}
            <tr>
              <td>{{class.id}}</td>
              <td>{{class.turma_number}}</td>
              <td>{{class.turma_label}}</td>
			  <td>{{class.turma_term}}</td>
			  <td>{{class.turma_year}}</td>
			  <td><a href="{{url_for('assignments.delete_class', turma_id=class.id)}}">Delete</a></td>
            </tr>
           {% endfor %}
          </tbody>
          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>
   
  
	</div
  
    </div>

{% endblock %}
</div>
{% endblock %}
