
  {% extends "header.html" %}
  
  
  {% block app_content %}

<div class="container">
<br>


{% block body %}

   <div class="row">
   <div class="col-md-8">
    <h1>{{title}}</h1>
    <hr>
    <a href="{{url_for('assignments.class_admin')}}" <button class="btn btn-primary"><i class="fa fa-chevron-left"></i> Back</button></a>
  </div>
  </div>
  
<br>

   <div class="container">
	
  <div class="row">
    <div class="col-xs-12">
      <div class="table">
        <table summary="Class enrollment" class="table table-bordered table-hover">
		  <thead>
            <tr>
              <th>Number</th>
              <th>Name</th>
			  <th>Actions</th>
            </tr>
          </thead>
		  <tbody>
			{% for enrollment, turma, user in class_enrollment %}
            <tr>
              <td>{{user.student_number}}</td>
              <td>{{user.username}}</td>
			  <td>
          <a href="{{url_for('assignments.remove_enrollment', enrollment_id = enrollment.id)}}" <button class="btn btn-sm btn-warning bln-block"><i class="fa fa-user-slash"></i> Remove</button></a>
        </td>
            </tr>
           {% endfor %}
          </tbody>
          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>
   
  
	</div
  
    </div>

{% endblock %}
</div>
{% endblock %}
