
  {% extends "header.html" %}
  
  {% block app_content %}
  {% if admin %}
  
  {% else %}
	<div class="row">
        <div class="col-md-8">
			<h1>View comments</h1>
		</div>
  </div>
    {{uploadTitle}}
    <hr>
  <br>
    {% if cleanCommentIds|length == 0 %}
      <p><em>No peer reviews have been submitted for this work.<br /><br />
  Check back later.</em></p>
    {% else %}
      {% for id in cleanCommentIds %}
      <p>
      <td><a href="/viewPeerComment/{{id}}" class="btn btn-primary btn-sm" role="button" aria-disabled="true">View peer review</a></td>
      </p>
      {% endfor %}
    {% endif %}

  {% endif %}
  <a href="{{url_for('files.fileStats')}}" class="btn btn-primary">< Back</a>
    {% endblock %}
