
  {% extends "header.html" %}
  
  {% block app_content %}
<div class="container">
<br>
  {% if admin %}
  
  {% else %}
  
   <div class="container">

    <div class="card bg-light mb-3" style="max-width: 25rem;">
      <div class="card-body">
         <h1>View comments</h1>

         {{uploadTitle}}
         <hr>
         <br>
         {% if cleanCommentIds|length == 0 %}
           <p><em>No peer reviews have been submitted for this work.<br /><br />
         Check back later.</em></p>
         {% else %}
         {% for id in cleanCommentIds %}
             <p>
           <td><a href="{{url_for('main.viewPeerReview', commentId=id)}}" class="btn btn-primary btn-sm" role="button" aria-disabled="true">View peer review</a></td>
           </p>
         {% endfor %}
       {% endif %}
  
       {% endif %}
      </div>
  <div class="card-footer">
  <a href="{{url_for('files.fileStats')}}" class="btn btn-primary">< Back</a>
  <br>
  </div>
  </div>
</div>
			
    </div>
{% endblock %}
