
  {% extends "header.html" %}
  {% from 'bootstrap/form.html' import render_form %}
  
  
  
    {% block app_content %}
<div class="container">
<br>
   <div class="card bg-light mb-3" style="max-width: 40rem;">
  <div class="card-body">
   <h1>Create assignment</h1>
   <br><a href="{{url_for('main.index')}}" <button class="btn btn-primary"><i class="fa fa-chevron-left"></i> Back</button></a>
   <hr>
   <br>
            {{ render_form(form) }}      
    </div>
  
    </div>
  </div>
   
{% endblock %}
  