 {% extends "header.html" %} {% block app_content %}

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <br>
            <h1>{{title}}</h1>
            <hr>
            <br>
        </div>

        <body>
         
            <div class="container">
              <div class="row">
             {% if comment_file_upload %}
            
              <div class="col-xs-12 col-md-4">
               <h2>Graded work</h2>
               <br>
  
  <div class="library_card">
 <div class="img-library_card">
  {% set thumbnail_filename = comment_file_upload.filename.split('.') %}
  <img src="/static/thumbnails/{{thumbnail_filename[0]}}.jpeg" />
 </div>
 <div class="library_card-content">
 <p>{{comment_file_upload.original_filename|truncate(42)}}</p>
 </div>
  <div class="library_card-read-more">
  <a href="{{url_for('assignments.download_comment_file_upload', comment_file_upload_id = comment_file_upload.id)}}" class="btn btn-secondary btn-sm" role="button"><i class="fa fa-download"></i> View correction</a>
  </div>
</div>

</div>
             
             {% endif %}
                <div class="col-xs-12 col-md-6 col-sm-offset-3">
                    {{ render_form|safe }}
                </div>
                </row>
            </div>
        </body>
    </div>
</div>
    {% endblock %}