
  {% extends "header.html" %}
  
  
  {% block app_content %}
<div class="container">
<br>
  {% if admin %}
  <div class="row">
        <div class="col-md-8">
        	<h1>Admin assignments view</h1>
         <hr>
        </div>
    </div>

  <br />
   <div class="container">
     <p><a class="btn btn-primary" href="{{url_for('assignments.create_assignment')}}" role="button">Create assignment</a></p>
     <br>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">
            <table summary="The following assignments have been made" class="table table-bordered table-hover">
        	  <thead>
              <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Description</th>
        		  <th>Due date</th>
        		  <th>Created by</th>
        		  <th>For class</th>
        		  <th>Creation time</th>
        		  <th>Peer review form</th>
        		  <th>Actions</th>
            </tr>
          </thead>
		  <tbody>
			{% for assignment in assignmentsArray %}
            <tr>
              <td>{{assignment['assignmentId']}}</td>
              <td>{{assignment['assignmentTitle']}}</td>
              <td>{{assignment['assignmentDescription']}}</td>
			  <td>{{assignment['assignmentDue']}}</td>
			  <td>{{assignment['assignmentCreatedBy']}}</td>
              <td>{{assignment['assignmentForTurmaId']}}</td>
              <td>{{assignment['assignmentCreationTimestamp']}}</td>
			  <td>{{assignment['assignmentPeerReviewForm']}}</td>
			  <td><a href="{{url_for('assignments.delete_assignment', assignment_id = assignment['assignmentId'])}}">Delete</a></td>
            </tr>
           {% endfor %}
          </tbody>
          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>
   
   {% elif assignmentsArray %}
  
    <div class="row">
         <div class="col-md-3">
      			<h1>Assignments</h1>
    		</div>
     </div>
 
 <hr>          
  <br><br>
    {% for assignment in assignmentsArray %}
        <div class="card bg-light mb-3">
        <div class="card-body">
         
      <h5>{{assignment['assignmentTitle']}}</h5>
          <h6 class="card-title">Due date: {{assignment['assignmentDue']}}</h6>
          <p class="card-text">{{assignment['assignmentDescription']}}</p>
        </div>
        <div class="card-footer">
                 {% if assignment['submittedFilename'] %}                   
                        <a href="" class="btn btn-secondary btn-lg btn-sm disabled " role="button" aria-disabled="true">{{assignment['submittedFilename']}}</a>
                     {% if assignment['completePeerReviewCount'] == 0 %}
                        
                         <a href="{{url_for('files.download_file', assignment_id = assignment['assignmentId'])}}" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Submit Review 1</a>
                            <a href="#" class="btn btn-default btn-sm disabled" role="button" disabled="true">Submit Review 2</a>
                  
                    {% elif assignment['completePeerReviewCount'] == 1 %}
                        <a href="{{url_for('files.view_peer_review', assignment_id = assignment['assignmentId'], peer_review_number = 1)}}" class="btn btn-success btn-sm" role="button" aria-disabled="true">View Review 1</a>
                        <a href="{{url_for('files.download_file', assignment_id = assignment['assignmentId'])}}" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Submit Review 2</a>
                    {% elif assignment['completePeerReviewCount'] == 2 %}
                      <a href="{{url_for('files.view_peer_review', assignment_id = assignment['assignmentId'], peer_review_number = 1)}}" class="btn btn-success btn-sm" role="button" aria-disabled="true">View Review 1</a>
                      <a href="{{url_for('files.view_peer_review', assignment_id = assignment['assignmentId'], peer_review_number = 2)}}" class="btn btn-success btn-sm" role="button" aria-disabled="true">View Review 2</a>
                    {% endif %}
                {% else %}
                    {% if assignment['assignmentIsPastDeadline'] %}
                      <a href="#" class="btn btn-danger btn-sm disabled" role="button" aria-disabled="true">Assignment overdue.</a>
                    {% else %}
                        <a href="files/upload/{{assignment['assignmentId']}}" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Upload your assignment</a>
                    {% endif %}
               <a href="" class="btn btn-default btn-sm" role="button" aria-disabled="true">Submit Review 1</a>
              <a href="" class="btn btn-default btn-sm" role="button" aria-disabled="true">Submit Review 2</a>
            {% endif %}
      
          </div>
        </div>
        
        
      
        {% endfor %}
        
      
      {% else %}
      	You have no assignments at present.
    	{% endif %}
  </div>
{% endblock %}
