 {% extends "header.html" %} {% block app_content %}
<div class="container">
    <br>
    {% if admin %}
    <div class="row">

        <div class="col-md-8">
            <h1>View assignments</h1>
            <hr>
        </div>
    </div>
    <a href="{{url_for('assignments.create_assignment')}}" <button class="btn btn-secondary"><i class="fa fa-plus-circle"></i> Create assignment</button></a>
    <br>
    <br>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        {% for class in classes %} {% if loop.index<=1 %}
        <li class="nav-item">
            <a class="nav-link active" id="{{class.id}}-tab" data-toggle="tab" href="#{{class.id}}" role="tab" aria-controls="{{class.id}}" aria-selected="true">{{class.turma_label}}</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" id="{{class.id}}-tab" data-toggle="tab" href="#{{class.id}}" role="tab" aria-controls="{{class.id}}" aria-selected="false">{{class.turma_label}}</a>
            </li>
            {% endif %}
            {% endfor %}
    </ul>

    <div class="tab-content" id="myTabContent">
        {% for class in classes %}
        {% if loop.index <=1 %}
        <div class="tab-pane fade show active" id="{{class.id}}" role="tabpanel" aria-labelledby="{{class.id}}-tab">
        {% else %}
            <div class="tab-pane fade" id="{{class.id}}" role="tabpanel" aria-labelledby="{{class.id}}-tab">
        {% endif %}
                <br>
        {% for assignment, user, turma, uploaded_assignments, uncomplete_assignments, assignment_task_filename, peer_review_form_title, students_in_class in assignments_array %}
        {% if assignment.target_turma_id == class.id %}

                <div class="card bg-light mb-3">
                    <div class="card-body">

                        <div class="container">
                            <div class="row">
                                <div class="col-2 align-self-center">
                                    <h2 class="display-5"><span class="badge badge-secondary"><i class="fa fa-file-upload "></i> {{uploaded_assignments|length}} / {{students_in_class|length}}</span></h2>
                                </div>
                                <div class="col-9">
                                    <h3 class="text"><strong>{{assignment.title}}</strong></h3>
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="fa fa-calendar-check" aria-hidden="true"></i> due on {{assignment.due_date}}</li>
                                        {% if peer_review_form_title %}
                                        <li class="list-inline-item"><i class="fa fa-file" aria-hidden="true"></i> {{peer_review_form_title}}</li> 
                                        {% endif %}
                                       
                                        {% if assignment_task_filename %}
                                        <li class="list-inline-item"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ assignment_task_filename}}</li>
                                        {% endif %}
                                    </ul>
                                    <em>{{assignment.description}}</em>
                                </div>
                                <div class="col-1">
                                 <a href="{{url_for('assignments.view_assignment_details', assignment_id = assignment.id)}}" <button class="btn btn-lg btn-light"><i class="fa fa-3x fa-chevron-right"></i>  </button></a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer float-right">
                        <a href="{{url_for('assignments.view_assignment_details', assignment_id = assignment.id)}}" <button class="btn btn-sm btn-outline-primary "><i class="fa fa-folder-open"></i> View details </button></a>
                        <a href="{{url_for('assignments.edit_assignment', assignment_id = assignment.id)}}" <button class="btn btn-sm btn-outline-warning"><i class="fa fa-edit"></i> Edit </button></a>
                    </div>
                </div>

                {% endif %}
                {% endfor %}

            </div>
            {% endfor %}

    </div>
</div>

{% elif assignmentsArray %}

<div class="row">
    <div class="col-md-3">
        <h1>Assignments</h1>
    </div>
</div>

<hr> {% for assignment in assignmentsArray %}
<div class="card bg-light mb-3">
    <div class="card-body">

        <div class="container">
            <div class="row">
                <div class="col-2 text-center">
                    <h1 class="display-4"><span class="badge badge-secondary">{{assignment['due_date'].strftime('%d')}}</span></h1>
                    <h2>{{assignment['due_date'].strftime('%b')|upper}}</h2>
                </div>
                <div class="col-10">
                    <h3 class="text"><strong>{{assignment['title']}}</strong></h3>
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-calendar" aria-hidden="true"></i> due on {{assignment['due_date'].strftime('%A')}}, {{assignment['humanized_due_date']}}</li>
                      {% if assignment['assignment_task_filename'] %}
                         <a href="{{url_for('files.download_assignment_file', assignment_id = assignment['id'])}}"><li class="list-inline-item"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ assignment['assignment_task_filename']}}</li></a>
                      {% endif %}
                    
                    </ul>
                    <em>{{assignment['description']}}</em>
                </div>
            </div>
        </div>

    </div>
    <div class="card-footer">
        {% if assignment['submitted_filename'] %}
        <a href="" <button class="btn btn-secondary btn-lg btn-sm disabled"><i class="fa fa-file-alt"></i> {{assignment['submitted_filename']}} </button></a>
        {% if assignment['peer_review_necessary'] == True %}
        {% if assignment['complete_peer_review_count'] == 0 %}

        <a href="{{url_for('files.download_file', assignment_id = assignment['id'])}}" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Submit Review 1</a>
        <a href="#" class="btn btn-default btn-sm disabled" role="button" disabled="true">Submit Review 2</a>
        
        {% elif assignment['complete_peer_review_count'] == 1 %}
        <a href="{{url_for('assignments.view_peer_review', comment_id=assignment['completed_peer_review_objects'][0].id)}}" class="btn btn-success btn-sm" role="button" aria-disabled="true">View Review 1</a>
        <a href="{{url_for('files.download_file', assignment_id = assignment['id'])}}" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Submit Review 2</a>
        {% elif assignment['complete_peer_review_count'] == 2 %}
        <a href="{{url_for('assignments.view_peer_review', comment_id=assignment['completed_peer_review_objects'][0].id)}}" class="btn btn-success btn-sm" role="button" aria-disabled="true">View Review 1</a>
        <a href="{{url_for('assignments.view_peer_review', comment_id=assignment['completed_peer_review_objects'][1].id)}}" class="btn btn-success btn-sm" role="button" aria-disabled="true">View Review 2</a>
        {% endif %} {% else %}
        <a href="" class="btn btn-info btn-lg btn-sm disabled " role="button" aria-disabled="true">This assignment will not be peer-reviewed</a>
        {% endif %} {% else %} {% if assignment['assignment_is_past_deadline'] %}
        <a href="#" class="btn btn-danger btn-sm disabled" role="button" aria-disabled="true"><i class="fa fa-clock"></i> Assignment overdue.</a>
        {% else %}
        <a href="{{url_for('files.upload_file', assignment_id = assignment['id'])}}" <button class="btn btn-sm btn-warning"><i class="fa fa-file-upload"></i> Upload your assignment </button></a>
        {% endif %}
        {% endif %}

    </div>
</div>

{% endfor %}

{% else %}
<link rel="stylesheet" href="/static/css/cat.css">
<div class="container">
 <h2>Good news... </h2><h4>You have no assignments 👍</h4>
</div>
<div class="container-cat">
  <div class="cloud">
    <span class="c-one"></span>
    <span class="c-two"></span>
    <span class="c-three"></span>
    <span class="c-four"></span>
  </div>
  
  
  <div class="rainbow">
    <span class="r-one"></span>
    <span class="r-two"></span>
    <span class="r-three"></span>
  </div>
  
  <div class="cat">
    <span class="eyes left"></span>
    <span class="eyes right"></span>
    <span class="mouth"></span>
  </div>
  
</div>

{% endif %}
</div>
{% endblock %}