
  {% extends "header.html" %}
  
  
  {% block app_content %}
<div class="container">
<br>
 
  <div class="row">
        <div class="col-md-8">
        	<h1>View Assignment Details</h1>
         <hr>
        </div>
    </div>
  <br />
   <div class="container">
     <br>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">
            <table summary="Student uploads for this task" class="table table-bordered table-hover">
        	  <thead>
              <tr>
              <th>ID</th>
              <th>Filename</th>
              <th>Timestamp</th>
        		  <th>Username</th>
        		  <th>User ID</th>
        		  <th>Actions</th>
            </tr>
          </thead>
		  <tbody>
			{% for upload, user in uploads_info %}
            <tr>
              <td>{{upload.id}}</td>
              <td>{{upload.original_filename}}</td>
               <td>{{upload.timestamp}}</td>
         <td>{{user.username}}</td>
         <td>{{user.id}}</td>
            <td>Actions</td>
            </tr>
           {% endfor %}
          </tbody>
          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>
  </div>
{% endblock %}
