
  {% extends "header.html" %} {% block content %}

  <p><em>Fill in the form with your student number, email, and choose the file you want
  to upload.<br />
  Make sure you have removed your name and number from the work you uploaded.</em></p>

  <form action="" method="post" enctype="multipart/form-data">
    <input type="file" name="file" /> <input type="submit" />
  </form>{% with messages = get_flashed_messages() %} {% if messages %}

  <ul class="flashes">
    <li style="list-style: none">{% for message in messages %}</li>

    <li>{{ message }}</li>

    <li style="list-style: none">{% endfor %}</li>
  </ul>{% endif %} {% endwith %} {% endblock %}
