{% extends "header.html" %}
{% from 'bootstrap/form.html' import render_form %}

{% block app_content %}


{% block body %}

 <div class="container">

 <div class="card bg-light mb-3" style="max-width: 25rem;">
  <div class="card-body">
    <h1>Manage users</h1>
    <hr>
    <br>
  </div>
  </div>
      
      <div class="table-responsive">
            <table summary="User table" class="table table-bordered table-hover">
           <thead>
              <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Email</th>
        		  <th>Turma Id</th>
        		  <th>Last seen</th>
        		  <th>Registered</th>
        		  <th>Email Confirmed</th>
        		  <th>Is Admin</th>
        		  <th>Actions</th>
            </tr>
          </thead>
		  <tbody>
			{% for user in user_data %}
            <tr>
              <td>{{user['id']}}</td>
              <td>{{user['username']}}</td>
              <td>{{user['email']}}</td>
              <td>{{user['turma_id']}}</td>
              <td>{{user['last_seen']}}</td>
              <td>{{user['registered']}}</td>
              <td>{{user['email_confirmed']}}</td>
              <td>{{user['is_admin']}}</td>
              <td>
               <a href="{{url_for('admin.give_admin_rights', user_id = user['id'])}}" class="btn btn-outline-primary btn-sm" role="button">Make admin</a>
               <p></p>
               <p><a href="{{url_for('admin.remove_admin_rights', user_id = user['id'])}}" class="btn btn-outline-danger btn-sm" role="button">Remove admin</a></p>
              </td>
            </tr>
           {% endfor %}
          </tbody>
          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
      
 
 
</div>
{% endblock %}
{% endblock %}