{% extends "header.html" %} {% block app_content %}
{% from 'bootstrap/form.html' import render_form %} 
<div class="container">
<div class="row">
  <div class="col-md-6">
    <h1><i class="fa fa-spell-check"></i> Grammar checker</h1>
  </div>
</div>

<!-- Perfect Tense Script-->
<script src="https://cdn.jsdelivr.net/npm/perfecttense-editor@latest/dist/pte.umd.js">
</script>

<script>
  PerfectTenseEditor({ clientId: "{{config['PERFECT_TENSE_CLIENT_ID']}}" });
</script>

</div>
{% endblock %}



