{% extends "header.html" %} {% block app_content %}
{% from 'bootstrap/form.html' import render_form %} 
<br>
<div class="container">
<div class="row">
  <div class="col-md-6">
    <h1><i class="fa fa-spell-check"></i> Grammar checker</h1>
  </div>
</div>
<hr>

<h5>Checking your essay for mistakes can take some time.</h5>
<h5>Please only click once.</h5>

{{render_form(form)}}

{% if api_response %}
{% if api_response.result.summaries[0].number_of_issues == 1 %}
<p>Found {{api_response.result.summaries[0].number_of_issues}} issue</p>
{% else %}
<p>Found {{api_response.result.summaries[0].number_of_issues}} issues</p>
{% endif %}
<hr>

{% for tag in api_response.result.tags %}
<p><div class="card">
  <div class="card-body">
    {% set end_pos = tag.end_pos %}
    <h6 class="card-subtitle mb-2 text-muted">...{{body[end_pos-12:end_pos+6]}}...</h6>
    {{tag.hint}}
    
  </div>
</div>
</p>
{% endfor %}

{% endif %}



</div>
{% endblock %}



