<!-- Favicon -->
<link rel="shortcut icon" href="/static/favicon_workUp.ico" />

<!-- PWA assets -->
<link rel="apple-touch-icon" href="/static/logo_workUp.png">

<title>
    {% block title %} {% if title %}{{ title }} - workUp{% else %} workUp Online{% endif %} {% endblock %}
</title>

{% block navbar %}

<!-- Navigation -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary text-uppercase" id="mainNav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="{{ url_for('main.index') }}">

        <img src="{{ url_for('static', filename='logo_workUp.png') }}" width="40" height="40"
            class="d-inline-block align-middle" alt=""> workUp</a>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link rounded" href="{{url_for('main.index')}}">Home</a>
            </li>
            {% if current_user.is_admin %}
            <li class="nav-item">
                <a class="nav-link rounded" href="{{url_for('assignments.view_assignments')}}">Assignments</a>
            </li>
            {% else %}
            <li class="nav-item dropdown">
                <a class="nav-link rounded dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Assignments
                </a>         
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{url_for('assignments.view_assignments')}}">My assignments</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{url_for('files.file_stats')}}">My feedback</a>
                </div>
            </li>
            {% endif %}
            <li class="nav-item ">
                <a class="nav-link rounded" href="{{url_for('files.class_library')}}">Library</a>
            </li>
            <li class="nav-item">
                {% if current_user.is_admin %}
                <a class="nav-link rounded" href="{{url_for('classes.enter_attendance_code')}}">Classes</a>
                {% else %}
                <a class="nav-link rounded" href="{{url_for('classes.enter_attendance_code')}}">Attendance</a>
                {% endif %}
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link rounded dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tools
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{url_for('grammar.check_grammar')}}">Grammar check</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{url_for('collaboration.collaboration_index')}}">Collaborate</a>
                    {% if current_user.is_admin %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{url_for('classes.random_student_generator')}}">Random student generator</a>
                    {% endif %}
                </div>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_anonymous %}
            <li class="nav-item">
                <a class="nav-link rounded" href="{{url_for('user.login')}}">Login</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link rounded" href="{{url_for('user.logout')}}">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}