 {% extends "header.html" %} {% from 'bootstrap/form.html' import render_form %} {% block app_content %}
<link rel="stylesheet" href="/static/css/animated-success-error-icon.css">
<br><br>
<div class="container">
    <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
 <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
   <span class="swal2-success-line-tip"></span>
   <span class="swal2-success-line-long"></span>
   <div class="swal2-success-ring"></div> 
   <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
   <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
  </div>
    
  <div class="container justify-content-center">
    <h1 class="text-center">Welcome, {{current_user.username}}</h1>
</div>
    
</div>

{% endblock %}