 {% extends "header.html" %} {% from 'bootstrap/form.html' import render_form %} {% block app_content %}
 
 <div class="container">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p><a href="{{url_for('classes.close_attendance', attendance_code_id = attendance_code_object.id)}}" <button class="btn btn-light"><i class="fa fa-plus-circle"></i>  Close attendance </button></a></p>
            </div>
            <div class="col-md-9">

                <h1>Good morning!</h1>

            </div>
        </div>
        <hr>
        <br>


    <img src="{{ qrcode(url, box_size = 15) }}">
    
    <br/><br/>
</div>

{% endblock %}