 {% extends "header.html" %} {% from 'bootstrap/form.html' import render_form %} {% block app_content %}
 <link rel="stylesheet" href="/static/css/form-control-borderless.css">
<div class="container">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="{{url_for('classes.class_attendance', class_id = lesson.turma_id)}}" <button class="btn btn-light">
                    <i class="fa fa-chevron-left">
        </i> Back
                    </button>
                </a>
            </div>
            <div class="col-md-10">

                <h2>Lesson attendance - {{turma.turma_label}}</h2>

            </div>
        </div>
        <br>

        <div class="card bg-light mb-3" style="max-width: 50rem;">
            <div class="card-body">
                <h4><i class="fa fa-users"></i> {{turma.turma_label}}</h4>
                <h4><i class="fa fa-calendar-alt"></i> {{lesson.date}}: {{lesson.start_time}} - {{lesson.end_time}}</h4>
            </div>
            <div class="card-footer">
             <a href="{{url_for('classes.open_attendance', lesson_id = lesson.id)}}" <button class="btn btn-sm btn-outline-success"><i class="fa fa-toggle-on"></i>  Mark all students as attending </button></a>
            </div>
        </div>


        <div class="row justify-content-left">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body">
          </i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input id="myInput" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search for students">
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->
        </div>

        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table summary="Student attendance" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Student #
                                    </th>
                                    <th>Username
                                    </th>
                                    <th>Timestamp
                                    </th>
                                    <th>Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="searchableTable">
                                {% for user in attendance_array %}
                                <tr><td>{{user.student_number}}
                                </td>
                                <td>{{user.username}}
                                </td>
                                {% if user.attendance %}
                                <td>{{user.attendance.timestamp.strftime('%d %b %H:%M:%S')}}
                                </td>
                                {% else %}
                                <td></td>
                                {% endif %}
                                
                                 {% if user.attendance %}
                                <td>
                                    <a href="{{url_for('classes.remove_attendance', attendance_id = user.attendance.id)}}" <button class="btn btn-sm btn-outline-warning"><i class="fa fa-user-slash"></i>  Remove attendance </button></a>
                                </td>
                                {% else %}
                                   <td>
                                   <a href="{{url_for('classes.register_student_as_attending', user_id = user.id, lesson_id = lesson.id)}}" <button class="btn btn-sm btn-outline-success"><i class="fa fa-user-plus"></i>  Register as attending </button></a>
                                </td>
                                {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!--end of .table-responsive-->
                </div>
            </div>


        </div>
    </div>

    {% endblock %}