 {% extends "header.html" %} {% block app_content %}

<div class="container">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="{{url_for('classes.view_attendance_record')}}" <button class="btn btn-light">
                    <i class="fa fa-chevron-left">
        </i> Back
                    </button>
                </a>
            </div>
            <div class="col-md-10">

                <h2>View absence justification</h2>

            </div>
        </div>
    </div>
</div>
        <br>

<div class="container">
 <div class="row">
  <div class="col-xs-12 col-md-4">
  
  <div class="library_card">
 <div class="img-library_card">
  {% set thumbnail_filename = absence_justification.filename.split('.') %}
  <img src="/static/thumbnails/{{thumbnail_filename[0]}}.jpeg" />
 </div>
 <div class="library_card-content">
  <h4 class="library_card-title">
       {{user.username}}</h4> 
 <p>{{absence_justification.timestamp}} - {{turma.turma_label}}</p>

     
 </div>
  <div class="library_card-read-more">
  <a href="{{url_for('main.index')}}" class="btn btn-primary btn-sm" role="button"><i class="fa fa-user-edit"></i> View</a>
  </div>
</div>

</div>

<div class="col-xs-12 col-md-8">
 
<div class="container">
 
      
        <div class="card">
  <div class="card-header">
    <h5 class="timeline-title"><a href="{{url_for('classes.download_absence_justification', absence_justification_id = absence_justification.id)}}">{{absence_justification.original_filename}}</a></h5>
  </div>
  <div class="card-body">
    <p class="card-text">{{absence_justification.justification}}</p>
  </div>
    <div class="card-footer text-muted">
    {{absence_justification.timestamp}} by {{user.username}}
  </div>
</div>
<br>

  
</div>
</div>

</div>
</div>

{% endblock %}
