{% extends "header.html" %} {% block app_content %}

<link rel="stylesheet" href="/static/css/index.css" type="text/css">

<div class="container">
    

        <div class="jumbotron">
       
        <h1 class="text-light text-center">Elm Education</h1>
        <br>
        <h2 class="text-light text-center">The trusted path to your dream university!</h2>
        <br>
        
        <img src="/static/elm_qr_code.JPG" class="mx-auto d-block"/>
        </div>
       
        
</div>

</div>

  
{% endblock %}
