<DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Load CSS -->
        <link href="/static/bootstrap/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/bootstrap/mdb.lite.min.css">
        <link href="/static/css/library_card.css" rel="stylesheet">

        <style>
            .nav-item .active {
                background-color: rgba(255, 255, 255, .4);
            }
        </style>


        <!-- Favicon -->
        <link rel="shortcut icon" href="/static/favicon_workUp.ico">

        <title>WorkUp Features</title>

    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static', filename='logo_workUp.png') }}" width="40" height="40"> workUp
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav"
                aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="mainNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#about" id>About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#assignments" id>Assignments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#peer-review">Peer review</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#appointments">Appointments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#attendance">Attendance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#goals">Goals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#email">Email</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#statements">Statements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#references">References</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tools">Tools</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <li class="nav-item">
                        <a class="nav-link" href="#inquire">Inquiry</a>
                    </li>
                </ul>

            </div>
        </nav>

        <!-- Toastr message-->
        {{ toastr.include_jquery() }} {{ toastr.include_toastr_css() }} {{ toastr.message() }}


        <div class="container">
            <br>
            <br>
            <div id="about" class="jumbotron">
                <h1 class="display-4 text-center">
                    <i class="fa fa-user-graduate fa-1x"></i></h1>
                <br>
                <h1 class="display-4">workUp - Manage Learning</h1>
                <br>
                <p class="lead">workUp helps teachers and students manage attendance, assignments, grades and class
                    files.
                </p>
                <hr class="my-4">
                <p>Students can track assignment deadlines, grades, and peer review colleagues' work.</p>
                <p>Teachers can manage assignment uploads, class grades and enrollment.</p>
            </div>

            <div id="assignments">
                <br>
                <br>
                <h3 class="display-6 text-left">Assignments</h3>
                <p>WorkUp makes it easy to create and track assignments for multiple classes. </p>
                <hr>

                <div class="card-deck" style="width: 100%;">
                    <div class="card ">
                        <img src="static/assets/student_home.png" style="width: 100%;">
                        <div class="card-body">
                            <p class="card-text">The student home page allows for quick access to vital information.</p>
                        </div>
                    </div>


                    <div class="card" style="width: 100%;">
                        <img src="static/assets/create_assignment.png" style="width: 100%;">
                        <div class="card-body">
                            <p class="card-text">Teachers can create assignments targeted at one or more classes. All
                                the
                                uploads
                                for this assignment will
                                be distributed randomly among colleagues for peer-review.</p>
                        </div>
                    </div>

                    <div class="card" style="width: 100%;">
                        <img src="static/assets/view_assignments.png" style="width: 100%;">
                        <div class="card-body">
                            <p class="card-text">Students can quickly check their assignments. Peer reviews can only be
                                uploaded
                                once the student has completed
                                their own assignment.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="peer-review">
                <br>
                <br>
                <h3 class="display-6 text-left">Peer review</h3>
                <p>With one click, you can set assignments to be automatically distributed for peer-review.</p>
                <hr>
                <div class="card-deck">

                    <div class="card" style="width: 100%;">
                        <img src="static/assets/file_stats.png" style="width: 100%">
                        <div class="card-body">
                            <p class="card-text">Students can check how many of their colleagues have downloaded their
                                work
                                and
                                submitted peer reviews.</p>
                        </div>
                    </div>

                    <div class="card" style="width: 100%;">
                        <img src="static/assets/submit_peerreview.png" style="width: 100%;">
                        <div class="card-body">
                            <p class="card-text">Teachers can create forms to assess students. As the students get more comfortable
                                with the peer review process, the teacher can edit the form
                                to allow the students more freedom with the structure of their peer review.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="appointments">
                <br>
                <br>
                <h3 class="display-6 text-left">Appointments</h3>
                <p>Easily schedule office hours with students, and assign pre-reading documents. Afterwards, your report
                    can
                    be
                    downloaded.</p>
                <hr>
                <div class="card-deck">

                    <div class="card" style="width: 100%;">
                        <img src="static/assets/appointment_scheduling.png" style="width: 100%">
                        <div class="card-body">
                            <p class="card-text">Conveniently allow multiple scheduling options which can be chosen by
                                the
                                teacher
                                or student.</p>
                        </div>
                    </div>

                    <div class="card" style="width: 100%;">
                        <img src="static/assets/appointment_calendar.png" style="width: 100%;">
                        <div class="card-body">
                            <p class="card-text">Stay in control of your schedule with a flexible calendar view.</p>
                        </div>
                    </div>

                    <div class="card" style="width: 100%;">
                        <img src="static/assets/appointment_report.png" style="width: 100%;">
                        <div class="card-body">
                            <p class="card-text">Upload your report after the appointment, with downloadable reading links and a PDF view.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="attendance">
                <br>
                <br>
                <h3 class="display-6 text-left">Attendance</h3>
                <p>WorkUp makes taking and tracking attendance fun and intuitive.</p>
                <hr>
                <div class="card-deck">

                    <div class="card" style="width: 100%;">
                        <img src="static/assets/attendance_live_qr.png" style="width: 100%">
                        <div class="card-body">
                            <p class="card-text">Students can scan a QR code with their phones and automatically
                                register
                                for
                                the
                                class.</p>
                        </div>
                    </div>

                    <div class="card" style="width: 100%;">
                        <img src="static/assets/attendance_registered.png" style="width: 100%;">
                        <div class="card-body">

                        </div>
                    </div>

                    <div class="card" style="width: 100%;">
                        <img src="static/assets/attendance_lessons.png" style="width: 100%">
                        <div class="card-body">
                            <p class="card-text">Get a quick overview of class attendance.</p>
                        </div>
                    </div>

                </div>
                <br>
                <div class="card-deck">

                    <div class="card" style="width: 100%;">
                        <img src="static/assets/attendance_class_view.png" style="width: 100%;">
                        <div class="card-body">
                            <p class="card-text">Efficiently track class attendance.</p>
                        </div>
                    </div>

                    <div class="card" style="width: 100%;">
                        <img src="static/assets/attendance_absence_justification.png" style="width: 100%;">
                        <div class="card-body">
                            <p class="card-text">If students miss a class, they can upload a digital absence justification. Approve or
                                not,
                                with
                                one
                                click.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div id="goals">
                <br>
                <br>
                <h3 class="display-6 text-left">Goals</h3>
                <p>Intuitively view milestones and goals.</p>
                <hr>
                <div class="card-deck">

                    <div class="card" style="width: 100%;">
                        <img src="static/assets/goals_empty_milestones.png" style="width: 100%">
                        <div class="card-body">
                            <p class="card-text">Goals can be linked to academic achievements or application timelines.
                            </p>
                        </div>
                    </div>

                    <div class="card" style="width: 100%;">
                        <img src="static/assets/goals_completed_milestones.png" style="width: 100%;">
                        <div class="card-body">
                            <p class="card-text">Mark goals as complete to track the student's progress.</p>
                        </div>
                    </div>
                </div>

            </div>

            <div id="email">
                <br>
                <br>
                <h3 class="display-6 text-left">Efficient email</h3>
                <p>Efficiently send beautiful emails.</p>
                <hr>
                <div class="card-deck">

                    <div class="card" style="width: 100%">
                        <img src="static/assets/email_sending.png" style="width: 100%">
                        <div class="card-body">
                            <p class="card-text">Easily send bulk emails to an entire class.</p>
                        </div>
                    </div>

                    <div class="card" style="width: 100%">
                        <img src="static/assets/email_no_lesson.png" style="width: 100%;">
                        <div class="card-body">
                            <p class="card-text">WorkUp sends rich full-HTML with beautiful fonts and images.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="statements">
                <br>
                <br>
                <h3 class="display-6 text-left">Personal statements</h3>
                <p>Help students understand how to craft a perfect personal statement.</p>
                <hr>
                <div class="card-deck">

                    <div class="card" style="width: 100%;">
                        <img src="static/assets/statements_homepage.png" style="width: 100%">
                        <div class="card-body">
                            <p class="card-text">Personal statements overview.</p>
                        </div>
                    </div>

                    <div class="card" style="width: 100%;">
                        <img src="static/assets/statements_timeline.png" style="width: 100%;">
                        <div class="card-body">
                            <p class="card-text">Timeline view shows the statement developing from draft to final version.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="references">
                <br>
                <br>
                <h3 id="references" class="display-6 text-left">Student reference
                    letters
                </h3>
                <p>Efficiently capture and organise student references.</p>
                <hr>
                <div class="card-deck">

                    <div class="card" style="width: 100%;">
                        <img src="static/assets/references_capture.png" style="width: 100%">
                        <div class="card-body">
                            <p class="card-text">Capturing a good reference can be challenging. Our form will help the
                                writers
                                give
                                you the information you need for the perfect references letter.</p>
                        </div>
                    </div>

                    <div class="card" style="width: 100%;">
                        <img src="static/assets/references_timeline.png" style="width: 100%;">
                        <div class="card-body">
                            <p class="card-text">A timeline view visually displays and edits the team makes to the references.</p>
                        </div>
                    </div>

                    <div class="card" style="width: 100%;">
                        <img src="static/assets/references_overview.png" style="width: 100%;">
                        <div class="card-body">
                            <p class="card-text">Quickly triage and work on multiple references.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tools">
                <br>
                <br>
                <h3 class="display-6 text-left">Tools</h3>
                <p>Nifty extra tools to help students in their work.</p>
                <hr>
                <div class="card-deck">

                    <div class="card" style="width: 100%;">
                        <img src="static/assets/tools_collaboration.png" style="width: 100%">
                        <div class="card-body">
                            <p class="card-text">Students can easily work on documents in real time, without using
                                cumbersome
                                third-party tools.</p>
                        </div>
                    </div>

                    <div class="card" style="width: 100%;">
                        <img src="static/assets/tools_grammarcheck.png" style="width: 100%;">
                        <div class="card-body">
                            <p class="card-text">Check for grammar and spelling mistakes.</p>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>

            <!--Section: Contact v.2-->
            <br><br>
            <div id="inquire" class="jumbotron">
                <section class="mb-4">
                    <h1 class="display-4 text-center"><i class="fa fa-user-graduate fa-1x"></i></h1>
                    <br>
                    <h2 class="display-4 text-center">You can use WorkUp, too!</h2>
                    <br>
                    <p class="lead">Using an online management system is a great way to improve the education at your
                        school or institution</p>
                    <hr class="my-4">
                    <h2 class="display-6 text-center">Contact us to license this service.</h2>

                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-9 mb-md-0 mb-5">
                            <form id="form" name="form" action="{{ url_for('main.features') }}" method="POST">

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <input type="text" id="name" name="name" class="form-control">
                                            <label for="name" class="">Your name</label>
                                        </div>
                                    </div>
                                    <!--Grid column-->

                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <input type="text" id="email-address" name="email-address"
                                                class="form-control">
                                            <label for="email-address" class="">Your email</label>
                                        </div>
                                    </div>
                                    <!--Grid column-->
                                </div>

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-12">

                                        <div class="md-form">
                                            <textarea type="text" id="message" name="message" rows="2"
                                                class="form-control md-textarea"></textarea>
                                            <label for="message">How would you like to use this service?</label>
                                        </div>

                                    </div>
                                </div>
                                <!--Grid row-->

                            </form>

                            <div class="text-center text-md-left">
                                <a class="btn btn-primary" onclick="document.getElementById('form').submit();">Send</a>
                            </div>
                            <div class="status"></div>
                        </div>

                        <!--Grid column-->
                    </div>

                </section>
                <!--Section: Contact-->

                <div class="card-body">
                    <p><i class="fa fa-wrench"></i>
                        We provide full technical documentation on embedding sites and can provide advice to your IT
                        team if necessary.</p>

                    <p><i class="fa fa-link"></i> The site is hosted by us, but runs under your URL. We can take care of
                        all the setup.</p>

                    <p> <i class="fa fa-paint-brush"></i> As part of the setup, we make any adjustments to the layout to
                        ensure that everything looks
                        correct within your house style. </p>

                    <p> <i class="fa fa-file-contract"></i> We can provide a domain name, chosen by you (e.g.
                        www.school-portal.com) and a domain email address (e.g. hello@school-portal.com).</p>

                    <p> <i class="fa fa-server"></i> In our standard we guarantee 99.5% uptime of the website,
                        all security, privacy, and maintenance updates to the database or front pages.</p>

                </div>

            </div> <!-- Contact div-->



        </div>
    </body>




    <!-- Scripts -->
    {{ bootstrap.load_js() }}
    <script src="/static/bootstrap/mdb.min.js"></script>
    {{ toastr.include_toastr_js() }}
    <script>
        //Smooth Scrolling

        $('.navbar-nav>li>a').on('click', function () {
            if ($(".navbar-collapse").hasClass("show")) {
                $('.collapse').collapse('toggle');
            }

            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top - 50
            }, 850);
        });

        //Scrollspy feature
        $('body').scrollspy({ target: '#mainNav', offset: 70 });


    </script>
    <script src="/static/js/lib/fontawesome-kit-7bd5544b77.js"></script>

    </html>