{% extends "header.html" %} {% block app_content %}
<link rel="stylesheet" href="/static/bootstrap/mdb.lite.min.css" type="text/css">
<script src="/static/bootstrap/mdb.min.js"></script>
<div class="container">

    <div class="container">

        <div class="jumbotron">
            <h1 class="display-4 text-center">
                <i class="fa fa-user-graduate fa-1x"></i></h1>
            <br>
            <h1 class="display-4">workUp - Learning Management</h1>
            <br>
            <p class="lead">workUp helps teachers and students manage attendance, assignments, grades and class files.
            </p>
            <hr class="my-4">
            <p>Students can track assignment deadlines, grades, and peer review colleagues' work.</p>
            <p>Teachers can manage assignment uploads, class grades and enrollment.</p>
        </div>
        
        <div class="card-deck">
            <div class="card " style="width: 300px;">
                <img src="static/assets/student_home.png" style="width: 100%;">
                <div class="card-body">
                    <p class="card-text">The student home page allows for quick access to vital information.</p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img src="static/assets/create_assignment.png" style="width: 100%;">
                <div class="card-body">
                    <p class="card-text">Teachers can create assignments targeted at one or more classes. All the
                        uploads
                        for this assignment will
                        be distributed randomly among colleagues for peer-review.</p>
                </div>
            </div>
        
            <div class="card" style="width: 18rem;">
                <img src="static/assets/view_assignments.png" style="width: 100%;">
                <div class="card-body">
                    <p class="card-text">Students can quickly check their assignments. Peer reviews can only be uploaded
                        once the student has completed
                        their own assignment.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="card-deck">

            <div class="card" style="width: 18rem;">
                <img src="static/assets/file_stats.png" style="width: 100%">
                <div class="card-body">
                    <p class="card-text">Students can check how many of their colleagues have downloaded their work and
                        submitted peer reviews.</p>
                </div>
            </div>

            <div class="card" style="width: 305px;">
                <img src="static/assets/submit_peerreview.png" style="width: 100%;">
                <div class="card-body">
                    <p>Teachers can create forms to assess students. As the students get more comfortable
                        with the peer review process, the teacher can edit the form
                        to allow the students more freedom with the structure of their peer review.</p>
                </div>
            </div>
        </div>

        {% endblock %}