
  {% extends "header.html" %}
  
  {% block app_content %}
  {% if admin %}
  <p>
    The path to the upload folder is: {{uploadFolderPath}}
  </p>
  <p>
    There are {{numberOfFiles}} files in the uploads folder:
  </p>
  {% for file in uploadedFileNamesArray %}
       {{ file }} <br/>
  {% endfor %}
  {% else %}
  <p>You have uploaded the following files:</p>
	<tbody>
		{% for key, value in cleanFilenamesAndDates.items() %}
		<tr>
		  <td>{{ key }}</td> uploaded at {{value[0]}} and downloaded {{value[1]}} times
		</tr>
		{% endfor %}
	</tbody>
	<table>
</table>

  {% endif %}
  
    {% endblock %}
