
  {% extends "header.html" %}
  
  {% block app_content %}
  {% if admin %}
  <p>
    The path to the upload folder is: {{uploadFolderPath}}
  </p>
  <p>
    There are {{numberOfFiles}} files in the uploads folder:
  </p>
  {% for file in uploadedFileNamesArray %}
       {{ file }} <br/>
  {% endfor %}
  {% else %}
  <p>You have uploaded the following files:</p>
	{% for postOriginalFilename in uploadedFilesArray %}
    <li>{{ postOriginalFilename }}</li>
	{% endfor %}
  {% endif %}
  
    {% endblock %}
