<!doctype html>
<html lang="en">

<!-- General wrapper for site-->
<div class="wrapper">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes">

        <!-- Load CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="/static/css/library_card.css" rel="stylesheet">
        <link href="https://bootswatch.com/4/flatly/bootstrap.min.css" rel="stylesheet">

        <!-- Load appropriate header for the service -->
        {% if config.APP_NAME == 'workUp' %}
        {% include "workUp/header_workUp.html" %}
        {% elif config.APP_NAME == 'elmOnline' %}
        {% include "elmOnline/header_elmOnline.html" %}
        {% endif %}
    </head>

    <body>
        <!-- Custom small-screen CSS fixes -->
        <style>
            .nav-link {
                transition: 0.15s;
            }

            @media screen and (max-width: 500px) {
                h1 {
                    font-size: 2rem;
                }
            }

            @media screen and (max-width: 992px) {
                a.viewAssignmentChevron {
                    display: none;
                }
            }
        </style>

        <!-- Load content block -->
        <div id="content">

            {% if config.APP_NAME == 'workUp' %}
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>
            {% endif %}

            <br>

            <!-- Toastr message-->
            {{ toastr.include_jquery() }} {{ toastr.include_toastr_css() }} {{ toastr.message() }}

            {% block app_content %}

            {% endblock %}


            {% if config.APP_NAME == 'workUp' %}
            <div class="container-footer text-center">
                <footer class="blockquote-footer">
                    <p>WorkUp is designed and developed by Patrick Johansson © 2020</p>
                </footer>
            </div>
            {% endif %}

        </div>


        <!-- Scripts -->
        {% block scripts %}
        <script src="/static/js/lib/fontawesome-kit-7bd5544b77.js"></script>

        {{ bootstrap.load_js() }}
        {{ toastr.include_toastr_js() }}

        <script src="/static/js/searchable-table.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

        {% if config.APP_NAME == 'workUp' %}
        
        <script>
            $(document).ready(function () {
                
                // Function to toggle the sidebar
                var toggleSidebar = function () {
                    // open or close navbar
                    $('#sidebar').toggleClass('active');
                    // close dropdowns
                    $('.collapse.in').toggleClass('in');
                    // and also adjust aria-expanded attributes we use for the open/closed arrows
                    // in our CSS
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                }

                // Click handler to open the menu
                $('body').on('click', '#sidebarCollapse', function () {
                    toggleSidebar ();
                });

                // Clicking outside the sidebar is an implicit close
                $('#content').on('click', function () {
                    if ($('#sidebar').hasClass('active')) {
                        toggleSidebar ();
                    }
                })

            });
        </script>


        {% if current_user.is_admin == True %}
        <!-- Generate student class view dropdown for teachers-->
        <script type="text/javascript">
            // Get the teacher classes
            $(function () {
                fetch('{{url_for('classes.get_turmas_list_api')}}').then(res => res.json()).then(data => {
                    var html;
                    $.each(data, function (indexInArray, turmaObject) {
                        html = '<a href="/user/view/' + turmaObject.id +
                            '">' +
                            turmaObject.label + '</a>';
                        $('.view-as-class').append(html);
                    });
                });
            });
        </script>
        {% endif %}
        {% endif %}

        {% endblock %}

        <!-- Load any scripts that are in the template -->
        {% block templateScripts %}

        {% endblock templateScripts %}

    </body>
</div>

</html>