{{ bootstrap.load_css() }}

<!-- Custom fonts for this template -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="/static/bootstrap/css/freelancer.min.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/7bd5544b77.js"></script>

<title>
    {% block title %} {% if title %}{{ title }} - workUp{% else %} workUp Online{% endif %} {% endblock %}
</title>

{% block navbar %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
    </button>

    <a class="navbar-brand" href="{{ url_for('main.index') }}">
        <img src="/static/w_logo.png" width="40" height="40" class="d-inline-block align-middle" alt=""> workUp</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{url_for('main.index')}}">Home</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{url_for('assignments.view_assignments')}}">Assignments</a>
            </li>
             <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{url_for('files.file_stats')}}">Feedback</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{url_for('files.class_library')}}">Library</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{url_for('classes.enter_attendance_code')}}">Attendance</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{url_for('grammar.check_grammar')}}">Grammar</a>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_anonymous %}
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{url_for('user.login')}}">Login</a>
            </li>
            {% else %}
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{url_for('user.logout')}}">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<br>
<br>
<br></br>
{% endblock %}

{% block content %}
<br>
{{ toastr.include_jquery() }} {{ toastr.include_toastr_css() }} {{ toastr.message() }}

{% block app_content %}
{% endblock %}

{% endblock %}


{% block footer %}
<div class="container-footer">
    <footer class="text-center">
        <br />
        <br />
        
    </footer>
</div>
{% endblock %}
{% block scripts %}
{{ toastr.include_toastr_js() }}
{{ bootstrap.load_js() }}
<script src="/static/js/searchable-table.js"></script>
{% endblock %}