<!-- JS config -->
<script src="/static/js/config_elmOnline.js"></script>

<!-- Favicon -->
<link rel="shortcut icon" href="/static/favicon_elmOnline.ico">

<title>
    {% block title %} {% if title %}{{ title }} - Elm Online{% else %} Elm Online{% endif %} {% endblock %}
</title>

{% block navbar %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light text-uppercase" id="mainNav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <a class="navbar-brand" href="{{ url_for('main.index') }}">

        <img src="{{ url_for('static', filename='logo_elmOnline.png') }}" width="40" height="40"
            class="d-inline-block align-middle" alt=""> Elm Online</a>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            {% if current_user.is_anonymous %}
            {% else %}
            <li class="nav-item">
                <a class="nav-link rounded" href="{{url_for('main.index')}}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link rounded dropdown-toggle" href="#" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Assignments
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{url_for('assignments.view_assignments')}}">View assignments</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{url_for('files.file_stats')}}">My uploads</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link rounded dropdown-toggle" href="#" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    University Applications
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{url_for('goals.view_goals')}}">Goals</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{url_for('consultations.view_consultations')}}">Consultations</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{url_for('statements.view_statements')}}">Personal Statements</a>
                    {% if current_user.is_admin %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{url_for('references.references_login')}}">References</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link rounded" href="{{url_for('files.class_library')}}">Library</a>
            </li>
            {% endif %}


        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_anonymous %}
            <li class="nav-item">
                <a class="nav-link rounded" href="{{url_for('user.login')}}">Login</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link rounded" href="{{url_for('user.logout')}}">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}