{% extends "header.html" %} {% block app_content %}
{% if current_user.is_anonymous %}
<link rel="stylesheet" href="/static/css/index_Unikey.css" type="text/css">

<br>
<div class="container">
    <div class="jumbotron">
       
        <h1 class="text-light text-center">Unikey Portal</h1>
        <br>
        <h3 class="text-light text-center">Trusted University Application Consultants</h3>
        
</div>


                

{% elif admin %}
<div class="container">
    <div class="row">

        <h1>{{greeting}}, Professor {{ current_user.username }}!</h1>

    </div>

    <hr>

    <div class="row text-center">
        <div class="col">
            <div class="counter">
                <i class="fa fa-archive fa-2x"></i>
                <h2 class="timer count-title count-number">{{library|length}}</h2>
                <p class="count-text ">Library Files</p>
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <i class="fa fa-user-graduate fa-2x"></i>
                <h2 class="timer count-title count-number">{{student_count}}</h2>
                <p class="count-text ">Students</p>
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <i class="fa fa-university fa-2x"></i>
                <h2 class="timer count-title count-number">{{classes|length}}</h2>
                <p class="count-text ">Classes</p>
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <i class="fa fa-briefcase fa-2x"></i>
                <h2 class="timer count-title count-number">{{statement_projects|length}}</h2>
                <p class="count-text ">Statement Projects</p>
            </div>
        </div>
    </div>
    <br>
    
     {% if statement_projects_needing_review|length > 0 %}
        <div class="card">
            <div class="card-header">
                <h4><i class="fa fa-file-alt"></i> Personal statements needing review</h4>
            </div>
            <div class="card-body">

                {% for project in statement_projects_needing_review %}
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-2 text-center">
                            <h1 class="display-4"><span class="badge badge-warning">{{project.total_uploads}}</span></h1>
                            <h4>uploads</h4>
                        </div>
                        <div class="col-6">
                            <h2 class="text"><i class="fa fa-fw fa-user" aria-hidden="true"></i><strong>{{project.project_owner_username}}</strong></h2>
                            <h5 class="text"><strong>{{project.title}}</strong></h5>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-file-upload" aria-hidden="true"></i> last upload {{project.latest_upload_humanised_timestamp}}</li>
                                <li class="list-inline-item"><i class="fa fa-calendar" aria-hidden="true"></i> created on {{project.timestamp.strftime('%A')}}, {{project.humanized_timestamp}}</li>
                            </ul>
                            
                        </div>
                        <div class="col-4 text-right align-center">
                        <a href="{{url_for('statements.view_statement_project', project_id = project.id)}}" <button class="btn btn-lg btn-primary"><i class="fa fa-fw fa-book-open"></i> View project </button></a>
                        </div>
                    </div>
                
                {% if loop.index < loop.length %}
                <hr>
                {% endif %}
                </div>
				{% endfor %}
            </div>
        </div>
    {% endif %}
    <br>

    <div class="card-deck">
        <div class="card bg-light mb-2" style="max-width: 20rem;">
            <div class="card-header">
                <h5><i class="fa fa-university"></i> Classes</h5>
            </div>
            <div class="card-body">
                <p><a class="btn btn-outline-dark" href="{{url_for('classes.create_class')}}" role="button"><i class="fa fa-plus-circle"></i> Create new class</a></p>
                <p><a class="btn btn-outline-dark" href="{{url_for('classes.class_admin')}}" role="button"><i class="fa fa-chalkboard-teacher"></i> Manage classes</a></p>
            </div>
        </div>

        <div class="card bg-light mb-2" style="max-width: 20rem;">
            <div class="card-header">
                <h5><i class="fa fa-users"></i> Students</h5>
            </div>
            <div class="card-body">
                <p><a class="btn btn-outline-dark" href="{{url_for('user.register')}}" role="button"><i class="fa fa-user-plus"></i> Register new student</a></p>
                <p><a class="btn btn-outline-dark" href="{{url_for('user.manage_students')}}" role="button"><i class="fa fa-users-cog"></i> Manage students</a></p>
            </div>
        </div>

        <div class="card bg-light mb-2" style="max-width: 20rem;">
            <div class="card-header">
                <h5><i class="fa fa-user-graduate"></i> Teachers</h5>
            </div>
            <div class="card-body">
                <p><a class="btn btn-outline-dark" href="{{url_for('user.register_admin')}}" role="button"><i class="fa fa-user-plus"></i> Register new teacher</a></p>
                <p><a class="btn btn-outline-dark" href="{{url_for('user.manage_teachers')}}" role="button"><i class="fa fa-user-graduate"></i> Manage teachers</a></p>

            </div>
        </div>

    </div>
    
      <br>
    <div class="card-deck">
        <div class="card bg-light mb-2" style="max-width: 20rem;">
            <div class="card-header">
                <h5><i class="fa fa-file-upload"></i> Assignments</h5>
            </div>
            <div class="card-body">
                <p><a class="btn btn-outline-dark" href="{{url_for('assignments.create_assignment')}}" role="button"><i class="fa fa-calendar-plus"></i> Create assignment</a></p>
                <p><a class="btn btn-outline-dark" href="{{url_for('assignments.view_assignments')}}" role="button"><i class="fa fa-tasks"></i> Manage assignments</a></p>
            </div>
        </div>

       <div class="card bg-light mb-2" style="max-width: 20rem;">
            <div class="card-header">
                <h5><i class="fa fa-file-signature"></i> Peer review forms</h5>
            </div>
            <div class="card-body">
                <p><a class="btn btn-outline-dark" href="{{url_for('assignments.add_peer_review_form')}}" role="button"><i class="fa fa-file"></i> New peer review form</a></p>
                <a class="btn btn-outline-dark" href="{{url_for('assignments.peer_review_form_admin')}}" role="button"><i class="fa fa-file-signature"></i> Manage peer review forms</a>
            </div>
        </div>
       
       
       <div class="card bg-light mb-2" style="max-width: 20rem;">
            <div class="card-header">
                <h5><i class="fa fa-network-wired"></i> API</h5>
            </div>
            <div class="card-body">
                <p><a class="btn btn-outline-dark" href="{{url_for('api.create_api_key')}}" role="button"><i class="fa fa-plug"></i> Register new API key</a></p>
                <p><a class="btn btn-outline-dark" href="{{url_for('api.manage_api_keys')}}" role="button"><i class="fa fa-tools"></i> Manage API keys</a></p>

            </div>
        </div>
    </div>
    
    <br>
    <div class="card-deck">
        <div class="card bg-light mb-2" style="max-width: 20rem;">
            <div class="card-header">
                <h5><i class="fa fa-file-upload"></i> My profile</h5>
            </div>
            <div class="card-body">
                <p><a class="btn btn-outline-dark" href="{{url_for('user.user_profile', user_id = current_user.id)}}" role="button"><i class="fa fa-calendar-plus"></i> View my profile</a></p>
                <p><a class="btn btn-outline-dark" href="{{url_for('user.profile_edit')}}" role="button"><i class="fa fa-tasks"></i> Edit my profile</a></p>
            </div>
        </div>
    </div>
    
    {% else %}
    <link rel="stylesheet" href="/static/css/progress-circle.css">
    <div class="container">
        <div class="row">
            <div class="container">
                <h1 class="text-warning">{{greeting}}, {{ current_user.username }}!</h1>
            </div>
        </div>
        <hr>

        <div class="row text-center">
            <div class="col">
                <div class="counter">
                    <i class="fa fa-bullseye fa-2x"></i>
                    <h2 class="timer count-title count-number">Your milestones</h2>
                    <br>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width:40%" >
                          Assignments
                        </div>
                        <div class="progress-bar bg-warning" role="progressbar" style="width:10%">
                          UCAS deadline
                        </div>
                        <div class="progress-bar bg-danger" role="progressbar" style="width:20%">
                          Internship
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <div class="counter">
                    <h3 class="timer count-title count-number">Your mentors</h3>
                    {% for mentor in mentors %}
                        {% if mentor.profile_picture != None %}
                            {% set thumbnail_filename = mentor.profile_picture.split('.') %}
                            <img src="/static/thumbnails/{{thumbnail_filename[0]}}.jpeg" class="rounded-circle" width="200px" />
                        {% endif %}
                    {% endfor %}
                    
                </div>
            </div>
        </div>
        <br>
        <div class="row text-center">
            <div class="col">
                <div class="counter">
                    <i class="fa fa-file-upload fa-2x"></i>
                    <h2 class="timer count-title count-number">Assignments completed</h2>
                    <div class="progress-circle progress-{{upload_progress_percentage}}"><span>{{upload_progress_percentage}}</span></div>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <i class="fa fa-comment-dots fa-2x"></i>
                    <h2 class="timer count-title count-number">Consultations</h2>
                     
                     <p>June 14th, 4:30pm</p>
                     <p>June 16th, 3:00pm</p>
                     <p>June 14th, 5:00am</p>
                     <a href="{{url_for('main.index')}}" <button class="btn btn-light"><i class="fa fa-chevron-right"></i> View your calendar</button></a>
                </div>
            </div>
        </div>
        <br>
        <div class="row text-center">
          <div class="col">
                <div class="counter">
                    <i class="fa fa-archive fa-2x"></i>
                    <h2 class="timer count-title count-number">{{library_file_count}}</h2>
                    <p class="count-text ">Library files</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <i class="fa fa-comments fa-2x"></i>
                    <h2 class="timer count-title count-number">{{received_peer_review_count}}</h2>
                    <p class="count-text ">Reviews received</p>
                </div>
            </div>
        </div>
        <br>


        {% if upload_progress_percentage != 100 %}
        <div class="card">
            <div class="card-header">
                <h4><i class="fa fa-calendar-alt"></i> Upcoming assignments</h4>
            </div>
            <div class="card-body">

                {% for assignment in assignments_info %}
				{% if assignment['submitted_filename'] %}
								
				{% else %}

                <div class="container">
                    <div class="row">
                        <div class="col-2 text-center">
                            <h1 class="display-4"><span class="badge badge-secondary">{{assignment['due_date'].strftime('%d')}}</span></h1>
                            <h2>{{assignment['due_date'].strftime('%b')|upper}}</h2>
                        </div>
                        <div class="col-10">
                            <h3 class="text"><strong>{{assignment['title']}}</strong></h3>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-calendar" aria-hidden="true"></i> due on {{assignment['due_date'].strftime('%A')}}, {{assignment['humanized_due_date']}}</li>
                            {% if assignment['assignment_task_filename'] %}
                             <a href="{{url_for('assignments.download_assignment_file', assignment_id = assignment['id'])}}"><li class="list-inline-item"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ assignment['assignment_task_filename']}}</li></a>
                            {% endif %}
                                
                            </ul>
                            <ul class="list-inline">
                           {% if assignment['assignment_is_past_deadline'] %}
                            <a href="#" class="btn btn-danger btn-sm disabled" role="button" aria-disabled="true"><i class="fa fa-clock"></i> Assignment overdue.</a>
                            {% else %}
                            <a href="{{url_for('files.upload_file', assignment_id = assignment['id'])}}" <button class="btn btn-sm btn-warning"><i class="fa fa-file-upload"></i> Upload your assignment </button></a>
                            {% endif %}
                            </ul>
                            <em>{{assignment['description']}}</em>
                        </div>
                    </div>
                </div>
                {% if loop.index < loop.length %}
                <hr>
                {% endif %}
				{% endif %}
				{% endfor %}

            </div>
        </div>
        {% endif %}
        
        <br>
                <div class="card-deck">
                    <div class="card" style="max-width: 20rem;">

                        <div class="card-header">
                            <h4><i class="fa fa-user"></i> Your info</h4>

                        </div>
                        <div class="card-body">

                            {% if number_of_uploads == 1 %}
                            <h5 class="card-title">You have uploaded {{number_of_uploads}} documents.</h5>
                            {% else %}
                            <h5 class="card-title">You have uploaded {{number_of_uploads}} documents.</h5>
                            {% endif %}
														{% if last_upload_humanized_timestamp != False %}
                            <p class="card-text"><small class="text-muted"> Last uploaded {{last_upload_humanized_timestamp}}</small></p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="card" style="max-width: 20rem;">
                        <div class="card-header">
                            <h4><i class="fa fa-comment-dots"></i> Peer reviews</h4>
                        </div>
                        <div class="card-body">

                            {% if number_of_peer_reviews_on_own_uploads == 1 %}
                            <h5 class="card-title">Your essays have been reviewed {{number_of_peer_reviews_on_own_uploads}} time.</h5>
                            {% else %}
                            <h5 class="card-title">Your essays have been reviewed {{number_of_peer_reviews_on_own_uploads}} times.</h5>
                            {% endif %}
														{% if last_received_peer_review_humanized_timestamp != False %}
                            <p class="card-text"><small class="text-muted"> Last reviewed {{last_received_peer_review_humanized_timestamp}}</small></p>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>

            {% endif %}
						{% endblock %}
