{% extends "header.html" %} {% block app_content %}
<br> {% if current_user.is_anonymous %}

<link rel="stylesheet" href="/static/css/index.css" type="text/css">

<div class="container">
    

        <div class="jumbotron">
        <h1 class="display-4 text-center">
			<i class="fa fa-user-graduate fa-1x"></i></h1>
        <br>
        <h1 class="display-4">workUp - Learning Management</h1>
        <br>
        <p class="lead">workUp helps teachers and students manage assignments, class files and peer reviews.</p>
        <hr class="my-4">
        <p>Students can track assignment deadlines, grades, and peer review colleagues' work.</p>
        <p>Teachers can manage assignment uploads and class grades, enrollment.</p>
        <br>
        <a class="btn btn-secondary btn-lg" href="{{url_for('user.register')}}" role="button">Student registration</a>
</div>
   
    <br />
    <br />
</div>

{% elif admin %}
<div class="container">
    <div class="row">

        <h1>Hi, Professor {{ current_user.username }}!</h1>

    </div>

    <hr>

    <div class="row text-center">
        <div class="col">
            <div class="counter">
                <i class="fa fa-archive fa-2x"></i>
                <h2 class="timer count-title count-number">{{library|length}}</h2>
                <p class="count-text ">Library Files</p>
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <i class="fa fa-user-graduate fa-2x"></i>
                <h2 class="timer count-title count-number">{{student_count}}</h2>
                <p class="count-text ">Students</p>
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <i class="fa fa-university fa-2x"></i>
                <h2 class="timer count-title count-number">{{classes|length}}</h2>
                <p class="count-text ">Classes</p>
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <i class="fa fa-briefcase fa-2x"></i>
                <h2 class="timer count-title count-number">{{assignments|length}}</h2>
                <p class="count-text ">Assignments</p>
            </div>
        </div>
    </div>

    <br>

    <div class="card-deck">
        <div class="card bg-light mb-2" style="max-width: 20rem;">
            <div class="card-header">
                <h5><i class="fa fa-university"></i> Classes</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">Add or remove classes</h5>
                <hr>

                <p><a class="btn btn-secondary" href="{{url_for('assignments.create_class')}}" role="button"><i class="fa fa-plus-circle"></i> Create new class</a></p>
                <p><a class="btn btn-secondary" href="{{url_for('assignments.class_admin')}}" role="button"><i class="fa fa-chalkboard-teacher"></i> Manage classes</a></p>
            </div>
        </div>

        <div class="card bg-light mb-2" style="max-width: 20rem;">
            <div class="card-header">
                <h5><i class="fa fa-file-signature"></i> Peer review forms</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">Add or remove peer review forms</h5>
                <hr>
                <p><a class="btn btn-secondary" href="{{url_for('assignments.add_peer_review_form')}}" role="button"><i class="fa fa-file"></i> New peer review form</a></p>
                <a class="btn btn-secondary" href="{{url_for('assignments.peer_review_form_admin')}}" role="button"><i class="fa fa-file-signature"></i> Manage peer review forms</a>
            </div>
        </div>

        <div class="card bg-light mb-2" style="max-width: 20rem;">
            <div class="card-header">
                <h5><i class="fa fa-file-upload"></i> Assignments</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">Create and manage assignments</h5>
                <hr>
                <p><a class="btn btn-secondary" href="{{url_for('assignments.create_assignment')}}" role="button"><i class="fa fa-calendar-plus"></i> Create assignment</a></p>
                <p><a class="btn btn-secondary" href="{{url_for('assignments.view_assignments')}}" role="button"><i class="fa fa-tasks"></i> Manage assignments</a></p>
            </div>
        </div>
    </div>

    <br>
    <div class="card-deck">
        <div class="card bg-light mb-2" style="max-width: 20rem;">
            <div class="card-header">
                <h5><i class="fa fa-users"></i> Students</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">Manage students</h5>
                <hr>
                <p><a class="btn btn-secondary" href="{{url_for('user.register')}}" role="button"><i class="fa fa-user-plus"></i> Register new student</a></p>
                <p><a class="btn btn-secondary" href="{{url_for('user.manage_students')}}" role="button"><i class="fa fa-users-cog"></i> Manage students</a></p>
            </div>
        </div>

        <div class="card bg-light mb-2" style="max-width: 20rem;">
            <div class="card-header">
                <h5><i class="fa fa-user-graduate"></i> Teachers</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">Manage teachers</h5>
                <hr>
                <p><a class="btn btn-secondary" href="{{url_for('user.register_admin')}}" role="button"><i class="fa fa-user-plus"></i> Create new teacher</a></p>
                <p><a class="btn btn-secondary" href="{{url_for('user.manage_teachers')}}" role="button"><i class="fa fa-user-graduate"></i> Manage teachers</a></p>

            </div>
        </div>

    </div>
    {% else %}
    <link rel="stylesheet" href="/static/css/progress-circle.css">
    <div class="container">
        <div class="row">
            <div class="container">
                <h1 class="text-warning">Hi, {{ current_user.username }}!</h1>
            </div>
        </div>
        <hr>

        <div class="row text-center">
            <div class="col">
                <a href="{{url_for('assignments.view_assignments')}}"><div class="counter">
                    <i class="fa fa-file-upload fa-2x"></i>
                    <h2 class="timer count-title count-number">Assignments completed</h2>
                    <div class="progress-circle progress-{{upload_progress_percentage}}"><span>{{upload_progress_percentage}}</span></div>
                </div>
            </div></a>
            <div class="col">
                <div class="counter">
                    <i class="fa fa-comment-dots fa-2x"></i>
                    <h2 class="timer count-title count-number">Peer reviews completed</h2>
                     <div class="progress-circle progress-{{peer_review_progress_percentage}}"><span>{{peer_review_progress_percentage}}</span></div>
                </div>
            </div>
        </div>
        <br>
        <div class="row text-center">
          <div class="col">
                <a href="{{url_for('files.class_library')}}"><div class="counter">
                    <i class="fa fa-archive fa-2x"></i>
                    <h2 class="timer count-title count-number">{{library_file_count}}</h2>
                    <p class="count-text ">Library files</p>
                </div></a>
            </div>
            <div class="col">
                <a href="{{url_for('files.file_stats')}}"><div class="counter">
                    <i class="fa fa-comments fa-2x"></i>
                    <h2 class="timer count-title count-number">{{received_peer_review_count}}</h2>
                    <p class="count-text ">Reviews received</p>
                </div></a>
            </div>
        </div>
        <br>
        {% if assignments_info|length > 0 %}
        <div class="card">
            <div class="card-header">
                <h4><i class="fa fa-calendar-alt"></i> Upcoming assignments</h4>
            </div>
            <div class="card-body">

                {% for assignment in assignments_info %}
				{% if assignment['submitted_filename'] %}
								
				{% else %}

                <div class="container">
                    <div class="row">
                        <div class="col-2 text-center">
                            <h1 class="display-4"><span class="badge badge-secondary">{{assignment['due_date'].strftime('%d')}}</span></h1>
                            <h2>{{assignment['due_date'].strftime('%b')|upper}}</h2>
                        </div>
                        <div class="col-10">
                            <h3 class="text"><strong>{{assignment['title']}}</strong></h3>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-calendar" aria-hidden="true"></i> due on {{assignment['due_date'].strftime('%A')}}, {{assignment['humanized_due_date']}}</li>
                            {% if assignment['assignment_task_filename'] %}
                             <a href="{{url_for('files.download_assignment_file', assignment_id = assignment['id'])}}"><li class="list-inline-item"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ assignment['assignment_task_filename']}}</li></a>
                            {% endif %}
                                
                            </ul>
                            <ul class="list-inline">
                           {% if assignment['assignment_is_past_deadline'] %}
                            <a href="#" class="btn btn-danger btn-sm disabled" role="button" aria-disabled="true"><i class="fa fa-clock"></i> Assignment overdue.</a>
                            {% else %}
                            <a href="{{url_for('files.upload_file', assignment_id = assignment['id'])}}" <button class="btn btn-sm btn-warning"><i class="fa fa-file-upload"></i> Upload your assignment </button></a>
                            {% endif %}
                            </ul>
                            <em>{{assignment['description']}}</em>
                        </div>
                    </div>
                </div>
                {% if loop.index < loop.length %}
                <hr>
                {% endif %}
				{% endif %}
				{% endfor %}

            </div>
        </div>
        {% endif %}

                <br>

                <div class="card-deck">
                    <div class="card" style="max-width: 20rem;">

                        <div class="card-header">
                            <h4><i class="fa fa-user"></i> Your info</h4>

                        </div>
                        <a href="{{url_for('files.file_stats')}}"><div class="card-body">

                            {% if number_of_uploads == 1 %}
                            <h5 class="card-title">You have uploaded {{number_of_uploads}} assignment.</h5>
                            {% else %}
                            <h5 class="card-title">You have uploaded {{number_of_uploads}} assignments.</h5>
                            {% endif %}
														{% if last_upload_humanized_timestamp != False %}
                            <p class="card-text"><small class="text-muted"> Last uploaded {{last_upload_humanized_timestamp}}</small></p>
                            {% endif %}
                        </div></a>
                    </div>

                    <div class="card" style="max-width: 20rem;">
                        <div class="card-header">
                            <h4><i class="fa fa-comment-dots"></i> Peer reviews</h4>
                        </div>
                        
                        <a href="{{url_for('files.file_stats')}}"><div class="card-body">

                            {% if number_of_peer_reviews_on_own_uploads == 1 %}
                            <h5 class="card-title">Your essays have been reviewed {{number_of_peer_reviews_on_own_uploads}} time.</h5>
                            {% else %}
                            <h5 class="card-title">Your essays have been reviewed {{number_of_peer_reviews_on_own_uploads}} times.</h5>
                            {% endif %}
														{% if last_received_peer_review_humanized_timestamp != False %}
                            <p class="card-text"><small class="text-muted"> Last reviewed {{last_received_peer_review_humanized_timestamp}}</small></p>
                            {% endif %}
                        </div></a>
                    </div>
                </div>

            </div>

            {% endif %}
						{% endblock %}
