{% extends "header.html" %}

{% block app_content %}

{% if current_user.is_anonymous %}
	<h1>workUp - Peer Review Distribution Tool</h1>
	<p>workUp is a app web application designed to help teachers distribute student work for peer review.</p>
	<p>The site works as a simple upload interface, whereby uploaded works are automatically redistributed amongst the uploadees.</p>
	<p>Uploaded files are tagged with a student number, so that the student never receives their own work back.</p>	
	<p>workUp is currently in development by Patrick Johansson at Tsinghua University. workUp is an open-source project and can be viewed at <a href="https://github.com/Siequnu/workUp">Github!</a></p></p>                
{% else %}
	<div class="row">
        <div class="col-md-4">
			<h1>Hi, {{ current_user.username }}!</h1>
		</div>
		<div class="col-md-4">
			<p>You have uploaded {{numberOfUploads}} posts.</p>
		</div>
    </div>
	<div class="container">
  <div id='bar'>
    <h4>Task completion</h4>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{progressBarPercentage}}%" id='width'>
        {{progressBarPercentage}}%
      </div>
    </div>
  </div>
</div>
{% endif %}
					
   
{% endblock %}