{% extends "header_product.html" %}

{% block app_content %}

{% include "nav_product_main.html" %}

<br>
<br>
<div class="jumbotron card card-image" id="overview"
    style="background-image: url(/static/assets/product/gradient_background.png);">
    <div class="text-dark text-center py-5 px-4">
        <div>

            <h1 class="display-4 text-center">
                <i class="fa fa-user-graduate fa-1x"></i></h1>
            <br>
            <h1 class="display-4">workUp - Manage Learning</h1>
            <h4 class="mx-5 mb-5">workUp is a complete online learning service. </h4>
            <h4>It helps teachers and
                students manage attendance, assignments, grades and much more.
            </h4>
            <br>
            <a href="#features" class="btn btn-outline-dark btn-lg smooth"><i class="fas fa-lightbulb"></i> View
                features <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
</div>

<div class="container" id="users">
    <div class="card-deck">
        <div class="card">
            <div class="view overlay">
                <img class="card-img-top" src="/static/assets/product/young_teacher.jpg" alt="Card image cap">
                <a href="{{ url_for('main.product_teachers') }}">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <h4 class="card-title">Teachers</h4>
                <p class="card-text">Spend less time managing and more time teaching! WorkUp is packed with
                    features that will make your job more enjoyable and your teaching more effective. </p>
                <a href="{{ url_for('main.product_teachers') }}" class="btn btn-info">Learn more</a>
            </div>
        </div>

        <div class="card">
            <div class="view overlay">
                <img class="card-img-top" src="/static/assets/product/education_consultancy.jpg" alt="Card image cap">
                <a href="{{ url_for('main.product_consultancies') }}">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body">
                <!-- Title -->
                <h4 class="card-title">Admissions Consultants</h4>
                <p class="card-text">Our Personal Statement and Reference management software has been
                    specifically developed with admissions consultancies in mind.</p>
                <a href="{{ url_for('main.product_consultancies') }}" class="btn btn-info">Learn more</a>
            </div>
        </div>
        <div class="card">
            <div class="view overlay">
                <img class="card-img-top" src="/static/assets/product/school_leader.jpg" alt="Card image cap">
                <a href="{{ url_for('main.product_consultancies') }}">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <div class="card-body">
                <h4 class="card-title">School leaders</h4>
                <p class="card-text">WorkUp is an easy to use service that will allow you to communicate with
                    your students and teachers intuitively and effectively.</p>
                <a href="{{ url_for('main.product_consultancies') }}" class="btn btn-info">Learn more</a>
            </div>
        </div>
        <!-- Card -->
    </div> <!-- Card deck-->

</div> <!-- First container -->

<br>
<br>

<!-- Jumbotron -->
<div class="card card-image"
    style="background-image: url(/static/assets/product/student_laptop.jpg); background-repeat: no-repeat; background-size: cover;">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">

            <!-- Content -->
            <h5 class="h5 orange-text"><i class="fas fa-lightbulb"></i> Unlock powerful learning</h5>
            <h2 class="card-title h2 my-4 py-2">Make technology work for you</h2>
            <p class="mb-4 pb-2 px-md-5 mx-md-5">WorkUp was developed by educators, for educators, to assist you
                in your teaching.
                Coming from a shared background, we understand the needs and demands that teachers have. Click
                here to learn how we can make your professional life easier.
            </p>
            <a href="{{ url_for('main.product_teachers') }}" class="btn peach-gradient"><i
                    class="fas fa-graduation-cap"></i>
                Learn how WorkUp can help you</a>

        </div>
    </div>
</div>
<!-- Jumbotron -->

<h1 id="features" class="text-blue text-center py-5 px-4">Our Unique Software Solutions​</h1>
<div class="container">
    <div>
        <!-- References and statements -->
        <h3 class="display-6 text-left">References and Statements</h3>
        <p>WorkUp makes it easy capture references, organise applications, and help students write their
            personal statements.</p>
        <hr>

        <div class="card-deck" style="width: 100%;">
            <div class="card" style="width: 100%;">
                <img src="static/assets/features/statements_timeline.png" style="width: 100%;">
                <div class="card-body">
                    <p class="card-text">Timeline view shows the statement developing from draft to final
                        version.</p>
                </div>
            </div>


            <div class="card" style="width: 100%;">
                <img src="static/assets/features/references_capture.png" style="width: 100%">
                <div class="card-body">
                    <p class="card-text">Capturing a good reference can be challenging. Our reference form will
                        ensure the referees deliver the information
                        students need for the perfect reference.
                    </p>
                </div>
            </div>

            <div class="card" style="width: 100%;">
                <img src="static/assets/features/references_timeline.png" style="width: 100%;">
                <div class="card-body">
                    <p class="card-text">A timeline view visually displays and edits the team makes to the
                        references.</p>
                </div>
            </div>
        </div>

        <!-- Assessment and peer-review-->
        <br>
        <br>
        <h3 class="display-6 text-left">Assessment and peer-review</h3>
        <p>WorkUp helps distribute and collect assignments and peer-reviews to large numbers of classes and
            students.</p>
        <hr>

        <div class="card-deck" style="width: 100%;">
            <div class="card" style="width: 100%;">
                <img src="static/assets/features/view_assignments.png" style="width: 100%;">
                <div class="card-body">
                    <p class="card-text">Students can quickly check their assignments. Peer reviews can only be
                        uploaded
                        once the student has completed
                        their own assignment.</p>
                </div>
            </div>


            <div class="card ">
                <img src="static/assets/features/student_home.png" style="width: 100%;">
                <div class="card-body">
                    <p class="card-text">The student home page allows for quick access to vital information.</p>
                </div>
            </div>

            <div class="card" style="width: 100%;">
                <img src="static/assets/features/submit_peerreview.png" style="width: 100%;">
                <div class="card-body">
                    <p class="card-text">Teachers can create forms to assess students. As the students get more
                        comfortable
                        with the peer review process, the teacher can edit the form
                        to allow the students more freedom with the structure of their peer review.</p>
                </div>
            </div>
        </div>

        <br>
        <br>
        <!-- Admin and management -->
        <h3 class="display-6 text-left">Admin and management</h3>
        <p>Created by teachers for teachers, WorkUp will help you spend less time managing the teaching, and
            more time actually teaching.</p>
        <hr>

        <div class="card-deck" style="width: 100%;">
            <div class="card" style="width: 100%;">
                <img src="static/assets/features/attendance_live_qr.png" style="width: 100%">
                <div class="card-body">
                    <p class="card-text">Students can scan a QR code with their phones and automatically
                        register for the class.</p>
                </div>
            </div>


            <div class="card" style="width: 100%;">
                <img src="static/assets/features/attendance_absence_justification.png" style="width: 100%;">
                <div class="card-body">
                    <p class="card-text">If students miss a class, they can upload a digital absence
                        justification. Approve or
                        not,
                        with
                        one
                        click.</p>
                </div>
            </div>

            <div class="card" style="width: 100%">
                <img src="static/assets/features/email_sending.png" style="width: 100%">
                <div class="card-body">
                    <p class="card-text">Easily send bulk emails to an entire class.</p>
                </div>
            </div>
        </div>
    </div> <!-- Features-->

    <br><br>

</div> <!-- Container-->


<!-- Jumbotron -->
<div class="card card-image" id="licencing"
    style="background-image: url(/static/assets/product/teacher_computer_3.jpeg); background-repeat: no-repeat; background-size: cover;">
    <div class="text-white  rgba-stylish-strong py-5 px-4">
        <div class="py-5">

            <!-- Content -->
            <h5 class="h5 orange-text text-center"><i class="fas fa-key"></i> License WorkUp for your institution
            </h5>
            <h2 class="card-title h2 my-4 py-2 text-center">Unlock powerful tools to assist you</h2>
            <div class="container">
                <p><i class="fa fa-wrench"></i>
                    We provide full technical documentation on embedding sites and can provide advice to your IT
                    team if necessary.</p>
                <p><i class="fa fa-link"></i> The site is hosted by us, but runs under your URL. We can take
                    care of
                    all the setup.</p>
                <p> <i class="fa fa-paint-brush"></i> As part of the setup, we make any adjustments to the
                    layout to
                    ensure that everything looks
                    correct within your house style. </p>
                <p> <i class="fa fa-file-contract"></i> We can provide a domain name, chosen by you (e.g.
                    www.school-portal.com) and a domain email address (e.g. hello@school-portal.com).</p>
                <p> <i class="fa fa-server"></i> In our standard contract we guarantee 99.5% uptime of the website, and
                    all security, privacy, and maintenance updates to the database or front pages.</p>

            </div>
            <br>
            <div class="text-center">
                <a href="{{url_for('main.inquire')}}" class="btn peach-gradient smooth">
                    Contact us to find out more <i class="fa fa-chevron-right"></i></a>
            </div>

        </div>
    </div>
</div> <!-- Jumbotron -->


<!-- Institution icons-->
<div class="container text-center">
    <br><br>
    <div class="row">
        <div class="col-12 col-md-4">
            <a href="#" class="thumbnail"><img src="/static/assets/product/logo_tsinghua.png" height="200" /></a>
        </div>
        <div class="col-12 col-md-4">
            <a href="#" class="thumbnail"><img src="/static/assets/product/logo_elm.png" height="200" /></a>
        </div>
        <div class="col-12 col-md-4">
            <a href="#" class="thumbnail"><img src="/static/assets/product/logo_renmin.png" height="200" /></a>
        </div>
    </div>
    <br><br>
    <h2 class="card-title h2 my-4 py-2 text-center">WorkUp is used by thousands of students at leading universities and admissions consultancies.</h2>
</div>

<div class="jumbotron card card-image" style="background-image: linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      ),
      url(/static/assets/product/gradient_background_2.png);">
    <div class="text-white text-center py-5 px-4">
        <blockquote class="blockquote">
            <p class="mb-0">"WorkUp allowed me to give feedback to students with great efficiency and saved me a lot of time."</p>
            <footer class="blockquote-footer text-white">Xu Lanzhi <cite title="Source Title">Renmin University, China</cite></footer>
        </blockquote>

        <a href="{{ url_for('main.product_teachers') }}" class="btn peach-gradient">
            Explore WorkUp features for teachers <i class="fas fa-chevron-right"></i></a>
    </div>
</div>

<br><br>

{% endblock %}