{% extends "header.html" %} {% block app_content %}

<div class="container">
    
<h1>workUp service</h1> 
    <h4>workUp is web app designed to help teachers manage their classes.</h4>

    Managing student work for peer distribution is time consuming and can be a large impediment to teachers implementing this otherwise very beneficial study method. It is hoped that this app can assist lecturers in implementing peer-review in their classes.

<p>
* The student home page allows for quick access to vital information.
</p>
<p>
<img src="static/assets/student_home.png" style="width:300px;">
</p>
<p>
* Teachers can create assignments targeted at one or more classes. All the uploads for this assignment will be distributed randomly among colleagues for peer-review.
</p>
<p>
<img src="static/assets/create_assignment.png" style="width:300px;">
</p>
<p></p>
* Students can quickly check their assignments. Peer reviews can only be uploaded once the student has completed their own assignment.
</p>
<p>
<img src="static/assets/view_assignments.png" style="width:300px;">
</p>
<p>


* Students can check how many of their colleagues have downloaded their work and submitted peer reviews.
</p>
<p>
<img src="static/assets/file_stats.png" style="width:300px;">
</p>
<p>
* Teachers can create forms to assesss students. As the students get more comfortable with the peer review process, the teacher can edit the form
to allow the students more freedom with the structure of their peer review.
</p>
<p>
<img src="static/assets/submit_peerreview.png" style="width:300px;">
</p>
{% endblock %}
