
  {% extends "header.html" %}
  
  
  {% block app_content %}
  {% if admin %}
   <div class="container">
	<a href="{{url_for('createAssignment')}}">Create new assignment</a>
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table summary="The following assignments have been made" class="table table-bordered table-hover">
          <caption class="text-center">You have created the following assignments</a>:</caption>
		  <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Description</th>
			  <th>Due date</th>
			  <th>Created by</th>
			  <th>For class</th>
			  <th>Creation time</th>
			  <th>Peer review form</th>
			  <th>Actions</th>
            </tr>
          </thead>
		  <tbody>
			{% for assignment in assignmentsArray %}
            <tr>
              <td>{{assignment['assignmentId']}}</td>
              <td>{{assignment['assignmentTitle']}}</td>
              <td>{{assignment['assignmentDescription']}}</td>
			  <td>{{assignment['assignmentDue']}}</td>
			  <td>{{assignment['assignmentCreatedBy']}}</td>
              <td>{{assignment['assignmentForTurmaId']}}</td>
              <td>{{assignment['assignmentCreationTimestamp']}}</td>
			  <td>{{assignment['assignmentPeerReviewForm']}}</td>
			  <td><a href="/deleteassignment/{{assignment['assignmentId']}}">Delete</a></td>
            </tr>
           {% endfor %}
          </tbody>
          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>
   
   {% elif assignmentsArray %}
   
    <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table summary="The following assignments have been made" class="table table-bordered table-hover">
          <caption class="text-center">These are your current assignments:</a></caption>
		  <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Description</th>
			  <th>Due date</th>
			  <th>Upload assignment</th>
			  <th>Peer review 1</th>
			  <th>Peer review 2</th>
            </tr>
          </thead>
		  <tbody>
			{% for assignment in assignmentsArray %}
            <tr>
              <td>{{assignment['assignmentId']}}</td>
              <td>{{assignment['assignmentTitle']}}</td>
              <td>{{assignment['assignmentDescription']}}</td>
			  <td>{{assignment['assignmentDue']}}</td>
			  {% if assignment['submittedFilename'] %}
				<td>{{assignment['submittedFilename']}}</td>
				{% if assignment['completePeerReviewCount'] == 0 %}
					<td><a href="/downloadFile/{{assignment['assignmentId']}}" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Submit</a></td>
					<td><a href="/downloadFile/{{assignment['assignmentId']}}" class="btn btn-default btn-sm disabled" role="button" aria-disabled="true">Submit</a></td>
				{% elif assignment['completePeerReviewCount'] == 1 %}
					<td><a href="/viewPeerReview/{{assignment['assignmentId']}}/1" class="btn btn-success btn-sm" role="button" aria-disabled="true">Submitted!</a></td>
					<td><a href="/downloadFile/{{assignment['assignmentId']}}" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Submit</a></td>
				{% elif assignment['completePeerReviewCount'] == 2 %}
					<td><a href="/viewPeerReview/{{assignment['assignmentId']}}/1" class="btn btn-success btn-sm" role="button" aria-disabled="true">Submitted!</a></td>
					<td><a href="/viewPeerReview/{{assignment['assignmentId']}}/2" class="btn btn-success btn-sm" role="button" aria-disabled="true">Submitted!</a></td>
				{% endif %}
			{% else %}
				<td><a href="/upload/{{assignment['assignmentId']}}" class="btn btn-primary btn-sm" role="button" aria-disabled="true">Upload this assignment</a></td>
				<td><a href="" class="btn btn-default btn-sm disabled" role="button" aria-disabled="true">Submit</a></td>
				<td><a href="" class="btn btn-default btn-sm disabled" role="button" aria-disabled="true">Submit</a></td>
			{% endif %}
            </tr>
           {% endfor %}
          </tbody>
          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>
	
	{% else %}
	
	You have no assignments at present.
	
	{% endif %}
  
    {% endblock %}
